extends ../layout

block stylesheets
    link(rel="stylesheet", href="/stylesheets/order.css")
block javascripts
    script(type='text/javascript', src='/javascripts/qrcode.min.js')
block content
    include ../common/header
    include ../common/index
    +header(1)
    +place(module,'order')
    .order-wrap
        .order-com
            .p20
                .wx-txt
                    .fl 请您及时付款，以便订单尽快处理！
                        //订单号：11264623913
                    .fr
                        //| 应付金额
                        //span ￥68.00
                    p
                        | 请您在提交订单后
                        em 30分钟内
                        | 完成支付，否则订单会自动取消。
                        span 在线支付保障
                        |   请您放心购买。
                .line
                .wx-con
                    h4 微信支付
                    .wx-img
                        p
                            | 距离二维码过期还剩
                            span 60
                            | 秒，过期后请刷新页面重新获取二维码。
                        #qrcode.erweima
                        //img.erweima(src='images/order/erweima.png', alt='')
                    //a.choose(href='order-paytype.html') 选择其他支付方式 <
    include ../common/footer
    script.
        $(function () {
            var qrcode = new QRCode(document.getElementById("qrcode"), {
                width: 163,
                height: 163
            });
            var time = 60;
            var f = setInterval(function () {
                time--;
                $('.wx-img span').text(time);
                if (time == 0) {
                    clearInterval(f);
                    $('#qrcode').text('请刷新页面')
                }
            }, 1000)

            function makeCode() {

                var qrText = '#{data[0].data}';
                qrcode.makeCode(qrText);
            }

            makeCode();
            var orderNo=(window.location.search).split('&')[2].split('=')[1];
            setInterval(function () {
                $.post('/member/detail?orderNo=' + orderNo)
                    .success(function (data) {
                        console.log(data)
                        if (data[0].data.payStatus == '3') {
                            var url='/payPlat/wxresult?';
                            for (var key in data[0].data) {
                                url += '&' + key + '=' + data[0].data[key];
                            }
                            window.location.href = url;
                        }

                    })
            }, 2000)

        })







//doctype html
//html
//    head
//    body!=data[0].data
    setInterval(function () {
                   $.post('/member/detail?orderNo=' + orderNo)
                       .success(function (data) {
                           console.log(data)

                           $.post('/getOrder', {transNo: data[0].data.transNo})
                               .success(function (twodata) {
                                   if (twodata[0].data.payStatus == '3') {
                                       var url='/payPlat/wxresult?';
                                       for(var key in twodata[0].data){
                                           url+='&'+key+'='+twodata[0].data[key];
                                       }
                                       window.location.href=url;
                                   }
                              })

                          })
               }, 2000)