extends ../layout

block stylesheets
    link(rel="stylesheet", href="/stylesheets/order.css")
block content
    -var rePage=data[0].data.orderType
    -var module=data[0].data.orderType
    include ../common/header
    include ../common/index
    include resultType
    +header(1)
    +place(module,'pay')
    .order-wrap
        .order-com
            .item-type
                span.no step1.填写与核对订单 >
                span.no step2.支付 >
                span.on step3.成功提交订单 >
            .cb
            .order-state
                i.state-ico.state-suc
                p 支付成功
            ul.order-int.clearfix

                case rePage
                    when 'repast'
                        -rePage='repast'
                    when 'amuse'
                        -rePage='amusement'
                +type(data,rePage)

            .pay-operation

                a(href='/list/'+rePage) 继续购买
                a(href='/') 返回首页
    include ../common/footer
