//
   Created by lxp on 2017/4/21
extends layout
block stylesheets
    link(rel="stylesheet", href="/stylesheets/error.css")
block content
    include ./common/header
    .error-main
        .error-img
        h4.error-tit 找不到页面
        p.error-tips
            - var _msg = message || '呃...您访问的页面失联了'
            p #{_msg}
        .autoBack
            a.back_link(href='/') 返回首页
    //.pay-results
    //    img.font-icon(src='images/member/404.png', alt='')
    //    p 找不到页面！
    //.results-info
    //    - var _msg = message || '呃...您访问的页面失联了'
    //    p #{_msg}
    //.btn-box1
    //    .btn-bottom
    //        .btn-handle
    //            a.btn(href='index') 返回首页