.ib{display:inline-block;*display:inline;*zoom:1;*zoom:1;*display:inline}.dialog-calendar{position:fixed;width:650px;height:450px;top:50%;left:50%;margin-left:-325px;margin-top:-225px;z-index:99;display:none;border:1px solid #b1b0b0}
.calendar-panel{background-color:#fff;position:relative;box-shadow: 0px 0px 21px rgba(0,0,0,0.2);border-radius: 4px;overflow: hidden;}
.dialog-header{background-color:#f0f0f0;height:30px;line-height:30px;padding:0 10px}#dialogClose{float:right;font-size:14px;font-family:arial;color:#666}.calendar-day{text-align:center;font-size:16px;color:#333}.calendar-head ul{height:32px;line-height: 32px;color: #fff;font-size: 16px;}.calendar-head ul li{line-height: 53px;display:inline-block;*display:inline;*zoom:1;margin:0 .25rem}.calendar-head ul li:nth-child(2){float:left}.calendar-head ul li:nth-child(4){float:right}.calendar-contnet{width:100%;}.calendar-contnet table{border-collapse:collapse;float:left;table-layout:fixed;}.calendar-contnet table td,.calendar-contnet table th{}.calendar-contnet table th{text-align: center;color:#333;height:30px;border-bottom:1px solid #fff;border-top:1px solid #fff}
.calendar-contnet table td{cursor:pointer;text-align:center;height:37px;line-height:140%;font-size:.6rem;width:14%;background: #fff;}
.calendar-contnet table td .price{color:#f66}
.calendar-contnet table td.today{background-color:#fff;color:#f66}
.calendar-contnet table td.weekend{color:#149d34}
.calendar-contnet table td.selected .date-title{background-color:#f66;color:#fff}
.calendar-contnet table td.selected .price strong{color:#f66}
.calendar-contnet table td.selected .timeslot{color: #fff;}
.calendar-contnet table td.other,.calendar-contnet table td.prevM,.calendar-contnet table td.nextM{color:#c5c5c5;cursor:default;background: #fff;}
.calendar-contnet table td.selecteds .date-title{background-color:#ff6666;color:#fff}

.calendar-contnet table td p{height:.75rem;line-height:.75rem;text-align: center;}
.icon-angle-left:before{content:"\e61d"}.icon-angle-right:before{content:"\e617"}
.calendar-head{height: 53px;line-height:53px;font-size: 16px;width:100%;text-align: center;overflow:hidden;border-bottom:1px solid #eee;background: #4096ff;color: #fff;}
.calendar-day li{width:14.28%;height:2.1rem;line-height:2.1rem;float:left;text-align:center;font-size:.6rem}
.monthPrev{border-right:9px solid #fff}
.monthNext,.monthPrev{width:0;height:0;display:inline-block;*display:inline;*zoom:1;vertical-align:middle;font-size:0;line-height:0;border-top:5px solid transparent;border-bottom:5px solid transparent}.monthNext{border-left:9px solid #fff}
.calendar-explian .price strong{font-size:.5rem}.calendar-contnet table td.selecteds .price em,.calendar-contnet table td.selecteds .price strong{}.calendar-contnet table th:nth-child(1),.calendar-contnet table th:nth-last-child(1){}
.date-title{display: block;overflow: hidden;width: auto;text-align: center;margin: 0 auto;
    border-radius: 50%; padding-bottom: 5px;  }
.date-title i{}
.calendar-top{position: absolute;top: 0;left: 0;width: 100%;overflow: hidden;background-color: #fff;height: 53px;line-height: 53px;background: #4096ff;color: #fff;}
#monthPrev,#monthNext{position: absolute;top: 0;line-height: 53px;display: block;color: #fff;font-size: 14px;width: 30px;text-align: center;font-weight: bold;}
#monthPrev{left: 0;}
#monthNext{right: 0;}
.calendar-month{float: left;width: 50%;}
.calendar-month:nth-child(1){border-right: 1px solid #e4e4e4;box-sizing: border-box;}
.date-title em{display:block;}

.calendar-contnet table:nth-child(1){border-right: 1px solid #e4e4e4;box-sizing: border-box;}