@charset "UTF-8";
body{background: #f5f8fa;}
.detail-head { position: relative; padding: 25px; background-color: #fff; border: 1px solid #eee; *overflow-x: hidden;}
.comment-head, .comment-list, .detail-head, .detail-order-bar, .item-imgslide, .item-imgslide.type3 .hd ul, .item-pots { zoom: 1 }
.comment-head:after, .comment-list:after, .detail-head:after, .detail-order-bar:after, .item-imgslide.type3 .hd ul:after, .item-imgslide:after, .item-pots:after { display: block; clear: both; visibility: hidden; height: 0; overflow: hidden; content: "." }




.detail-wrap { width: 1200px; margin: 0 auto }
.detail-head { position: relative; padding: 18px; background-color: #fff; border: 1px solid #eee; *overflow-x: hidden;}
.detail-head.doub-pdw { padding: 12px 25px }

.item-summary-box { float: left; height: 100%; width: 100%; }

/*轮播*/
.item-left { float: left; margin-left: -100%; height: 100% }
.detail-ban { position: relative; overflow: hidden; width: 636px; float: left; z-index: 1;height: 268px;}
.detail-ban .bigImg, .tempWrap { float: left; height: 100%; position: relative; }
.detail-ban .bigImg li { width: 509px; height: 268px; background: #e4eaee;}
.detail-ban .bigImg li img { width: 100%; height: 100%; }
.detail-ban .smallScroll { float: left; position: absolute; right: 0; top: 0; height: 268px; }
.detail-ban .sPrev, .detail-ban .sNext { position: absolute; top: 3px; left: 34px; z-index: 99; display: block; width: 30px; height: 16px;}
.detail-ban .sNext { top: auto; bottom: 3px; background-position: 0 -16px; }
.detail-ban .sPrev:hover { background-position: -30px 0; }
.detail-ban .sNext:hover { background-position: -30px -16px; }
.detail-ban .smallImg ul { overflow: hidden; zoom: 1; }
.detail-ban .smallImg li { text-align: center; zoom: 1; width: 119px; height: 62px; background: #e4eaee;margin-bottom: 4px;border: 1px solid #fff;}
.detail-ban .smallImg li img { width: 119px; height: 62px; cursor: pointer; }
.detail-ban .smallImg li.on { border: 1px solid #ef9908;}
.detail-ban .smallImg li.on img { width: 119px; height: 62px; }

/*竖排轮播*/
.item-imgslide.type1 { width: 480px; height: 280px }
.item-imgslide.type1 .bd ul { width: 480px; height: 218px; display: block; overflow: hidden }
.item-imgslide.type1 .bd li { width: 480px; height: 218px; float: left;background: #eee;}
.item-imgslide.type1 .bd li img,.item-imgslide.type1 .hd li img{width: 100%;height: 100%;}
.item-imgslide.type1 .hd {position: relative; height: 60px; background: #eee;padding: 1px 0;width: 404px;margin: 0 auto;}
.item-imgslide.type1 .hd ul { overflow: hidden; height: 60px; margin-left: -1px }
.item-imgslide.type1 .hd li { float: left; width: 98px; height: 58px; margin-left: 1px; overflow: hidden;background: #ccc; border: 1px solid #ccc; }
.item-imgslide.type1 .hd li.on {border: 1px solid #1d9add; }
.item-imgslide.type1 .slidebtn { font-family:'宋体';position: absolute; width: 37px; height: 60px; font-size: 22px; color: #666; top: 1px;font-weight: 600; background: #ccc;text-align: center;line-height: 60px;}
.item-imgslide.type1 .slidebtn.prev { left: -37px; }
.item-imgslide.type1 .slidebtn.next { right: -38px;}

/*右边内容框*/
.item-summary.type0.tkt { margin-left: 666px;height: 623px;position: relative;}
.item-summary.type1{margin-left: 508px;height: 306px;position: relative;}


/*自由行日历*/
.calendar-panel.zyx-calendar{float: left;/*height: 295px;*/margin-top: 13px;}

/*价格*/
.detail-price{height: 60px;width: 526px;background: url(../images/detail/price-bg.png) no-repeat;padding-bottom: 9px;}
.detail-price del{float: left;font-size: 14px;margin: 32px 0 0 38px;}
.detail-price .saleprice{float: right;}
.detail-price .saleprice label{font-size: 14px;margin-top: 32px;display: inline-block;*display: inline;*zoom: 1;}
.detail-price .saleprice span{display: inline-block;*display: inline;*zoom: 1;height: 60px;width: 235px;text-align: center;color: #fff;font-size: 36px;vertical-align: top;line-height: 60px;}
.detail-price .saleprice span em{font-size: 14px;}

.detail-low-txt{color: #999;font-size: 12px;line-height: 20px;max-height: 200px;overflow: hidden}

/*标题*/
.item-name { line-height: 55px; color: #666; text-align: right; margin-bottom: 30px;position: relative; }

.item-name h4 { line-height: 34px; font-size: 24px; text-align: left; color: #222;width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
.item-name .tags{position: absolute;}
.item-name .tags span{display: inline-block;*display: inline;*zoom: 1;height: 20px;line-height: 20px;color: #fff;font-size: 14px;padding: 0 4px;background: #10bd0c;border-radius: 2px;}

.info-menu { display: inline-block; width: 100%;padding-top:16px;padding-bottom: 19px; border-bottom: 1px solid #ececec; margin-bottom: 20px; }
.info-menu li { height: 60px; float: left; border-right: 1px solid #ececec; width: 32%; text-align: center; }
.info-menu span { display: block; height: 36px; font: normal 16px/36px "Microsoft YaHei"; font-size: 18px;}
.info-menu span.branch { color: #666;font-size: 14px; }
.info-menu span.branch em { font-size: 30px; color: #10bd0c; }
.info-menu strong { display: block; color: #333; font: normal 14px/20px "Microsoft YaHei"; }
.info-menu li:last-child { border-right: 0; }



/*自由行底部按钮*/
.r-detail-bottom{bottom: 0;left: 0;width: 100%}
.r-detail-bottom .btn .label-txt{color: #666;font-size: 14px;}
.item-int { font-size: 12px; line-height: 24px; }
.item-int strong { float: left; color: #333; }
.item-int p { color: #999; margin-left: 78px; }
.item-int p #xz_time { border: 1px solid #eee; color: #444; font-size: 14px; display: block; width: 300px; height: 28px; line-height: 28px; padding: 0 5px }
.zyx-item-btn{vertical-align: bottom;}
.zyx-i-btn,.car-i-btn {margin-left: 14px;width: 131px; height: 50px;  text-align: center; color: #fff; font: normal 14px/50px "Microsoft YaHei"; border: 0; }
.zyx-i-btn:hover ,.car-i-btn:hover{transition: 300ms; color: #fff; }


.detail-num strong{margin-right: 20px;display: inline-block;*zoom: 1;*display: inline;color: #666;font-size: 14px;}
.detail-num.tour-num strong{color: #999;}
.detail-num.tour-num {margin-top: 16px;}
.detail-num.tour-num .price{color: #999;font-size: 12px;}
.detail-num.tour-num .price em{color: #f66;}
.base-img{margin-left: 14px;height: 48px;border: 1px solid #999;width: 105px;background: url(../images/detail/ma.jpg) no-repeat 100px 15px;padding: 0 12px;line-height: 48px;color: #666;font-size: 14px;}
.zyx-choose-type{height: 134px;width: 518px;}
.zyx-choose-type span{max-width: 184px;height: 23px;border: 1px solid #999;padding: 0 22px;color: #999;font-size: 12px;line-height: 23px;display: block;float: left;cursor: pointer;margin: 0 22px 11px 0;overflow: hidden;}
.zyx-choose-type span.on{background: url(../images/detail/type-on.png) no-repeat right bottom;border: 1px solid #3ea3ff;color: #3ea3ff;}
.mt12{margin-top: 12px;}


/*信息*/
.detail-info p.n{color: #666;font-size: 14px;line-height: 20px;overflow: hidden;}
.detail-info p.n label{display: inline-block;*display: inline;*zoom: 1;vertical-align: top;float: left;}
.detail-info p.n span{margin-left: 70px;display: block;}
.detail-info p.n span.over{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.tour-info{margin: 15px 0 30px;}

.border-goods{height: 5px;width: 672px;background: #f66;}


/*商品*/
.goods-name{margin-bottom: 15px;}
.goods-name em{font-size: 12px;margin-left: 20px;}
.goods-choose p.n{color: #999;font-size: 14px;margin-bottom: 15px;}
.goods-choose p.n span a{display: inline-block;*display: inline;*zoom: 1;padding: 0 20px;height: 18px;line-height: 18px;border: 1px solid #999;margin-right: 17px;color: #999;}
.goods-choose p.n span a.on{border: 1px solid #3ea3ff;color: #3ea3ff;background: url(../images/detail/type-on.png) no-repeat right bottom;}
.goods-price{margin-right: 37px;vertical-align: middle;}
.goods-price del{font-size: 14px;margin-right: 25px;}
.goods-price .saleprice{font-size: 20px;}
.goods-price .saleprice em{font-size: 36px;}


/*美食*/
.foods-txt{margin-bottom: 20px;}
.foods-txt p.n label{color: #999;}
.go-map{line-height: 24px;display: block;}



.detail-tab { border: 1px solid #eee; position: relative; z-index: 3; height: 49px; border-bottom: 0; }
.detail-tab ul { overflow: hidden; font-size: 0; background-color: #fff; width: 1198px; border-bottom: 1px solid #eee; }
.detail-tab li { display: inline-block; *display: inline;*zoom: 1;vertical-align: middle; height: 48px; line-height: 48px; color: #fff; font-size: 16px; min-width: 75px; width: 120px; text-align: center }
.detail-tab li a { display: block; padding: 0 15px; line-height: 48px; color: #333; }
.detail-tab li.on, .detail-tab li:hover { background-color: #ff6666 }
.detail-tab li.on a, .detail-tab li:hover a { color: #fff; padding-top: 0px; }
.detail-tab.type1, .detail-tab.type2 { margin-top: -1px }
.detail-tab.fixed { position: fixed; width: 934px }


/*酒店*/
.item-name.hotel-name{position: relative;margin-bottom: 5px;}
.hotel-name .start-box{margin-left: 10px;}
.hotel-name .start-box i{background:url(../images/detail/start.jpg) no-repeat;display: inline-block;*display: inline;*zoom: 1;width: 11px;height: 11px}
.hotel-name .hotel-tags{line-height: 30px;font-size: 12px;text-align: left;}
.hotel-name .hotel-tags em{margin-right: 10px;}
.hotel-name .price{line-height: 64px;}
.hotel-info p.n{margin-top: 14px;}
.hotel-info label{color: #999;}
.hotel-info .icon{vertical-align: middle;display: inline-block;*display: inline;*zoom: 1;width: 20px;margin-right: 5px;height: 19px;background:url(../images/detail/icon.jpg) no-repeat;}
.hotel-info .icon.icon-wifi{}
.hotel-info .icon.icon-jsf{background-position: -25px 0;}
.hotel-info .icon.icon-spa{background-position: -50px 0;}
.hotel-info .icon.icon-food{background-position: -75px 0;}
.hotel-info .icon.icon-yy{background-position: -100px 0;}
.hotel-info .icon.icon-pack{background-position: -125px 0;}


/*门票*/
.ticket-name .level{font-size: 14px;}
.item-name.ticket-name{margin-bottom: 12px;}
.ticket-tags{color: #f63;font-size: 12px;margin-left: 30px;}
.ticket-tags span{margin-right: 10px;}






.address{padding-left: 19px;background:url(../images/detail/address.jpg) no-repeat 0 5px;}
.address a{color: #999;font-size: 14px;}
.r-price .price{position: absolute;bottom:-18px;right: 0;font-size: 36px;}
.r-price .price i{font-size: 20px;}
.r-price .price em{color: #666;font-size: 14px;}



/*门票表格*/
.item-typelist { width: 100%; background-color: #fff }
.item-typelist table { width: 100%;}
.item-typelist tr { border-bottom: 1px solid #e8e8e8 }
.item-typelist tr:hover { background-color: #f8f8f8 }
.item-typelist tr.special td span.tit,.item-typelist tr.special td span.price{font-size: 12px;}
.item-typelist tr.special td{color: #999;}
.item-typelist tr.dom .btn-box a{border: 0;font-size: 14px;}
.item-typelist tr.dom .btn-box a:hover{background: transparent;color: #16b2f3;}
.item-typelist td, .item-typelist th { height: 24px; padding: 14px 15px; text-align: center;font-size: 12px;}
.item-typelist td.table-tit { background: #f2f2f2; width: 70px; border-right: 1px solid #e8e8e8; }
.item-typelist td.tl, .item-typelist th.tl { text-align: left }
.item-typelist td.tr, .item-typelist th.tr { text-align: right }
.item-typelist th { height: 33px; background-color: #f3f3f3; padding: 0 15px;color: #999;}
.item-typelist td span.tit { display: inline-block; *zoom:1;*display:inline;padding: 0 15px;min-width: 250px; }
.item-typelist td .look-tkt-pinfo, .item-typelist td .look-htl-pinfo { padding: 0 5px; cursor: pointer; display: inline-block; *zoom:1;*display:inline;}
.item-typelist td span.pay-met { display: inline-block; *zoom:1;*display:inline;width: 180px; text-align: center; color: #ffa900; }
.item-typelist td span { font-size: 14px }
.item-typelist td span.price { display: inline-block; *zoom:1;*display:inline;width: 140px; text-align: center; font-size: 16px; margin: 0 10px }
.item-typelist td span.activity { color: #5ecb5d }
.item-typelist td span.policy, .item-typelist td span.service, .item-typelist td span.tip { color: #999 }
.item-typelist td span.service { color: #10bd0c; font-size: 12px; }
.item-typelist td em { color: #f66; font-size: 16px }
.item-typelist td i { font-size: 12px;padding: 0 5px }
.item-typelist td del { display: inline-block; *zoom:1;*display:inline;width: 130px; text-align: center; color: #999; font-size: 12px; }
.item-typelist .btn-box a {display: inline-block; *display: inline;*zoom: 1;vertical-align: middle; outline: 0; width: 68px; height: 24px; line-height: 24px; padding: 0; margin: auto;  border-radius: 3px; font-size: 14px; text-align: center; cursor: pointer; }
.item-typelist td.tkt-pinfo{padding-bottom: 0;display: none;}
.tkt-pinfo-con{text-align: left;}
.tkt-pinfo-con p{margin-left: 82px;}
.tkt-pinfo-con .up-btn{text-align: center;height: 28px;line-height: 28px;border-top: 1px solid #e8e8e8;margin-top: 30px;cursor: pointer;}




/*内容*/
.detail-block { overflow: hidden }
.detail-main-box { width: 100%; float: left; height: 100% }
.detail-r { float: left; width: 253px; height: 100%; margin-left: -253px }
.detail-main { margin-right: 264px }
.detail-module { margin-bottom: 10px; border: 1px solid #eee; background-color: #fff; }
.detail-module.typelist { padding: 0 }
.detail-module.comment, .detail-module.comment .module-contain { padding-bottom: 0 }
.module-name { line-height: 54px; font-size: 16px; color: #333; height: 54px; padding: 0 22px; border-bottom: 1px solid #eee; }
.module-name i { display: inline-block; *float: left;
*zoom:1;
*display:inline;
vertical-align: top; margin-top: 19px; width: 16px; height: 16px; background: url("../images/detail/ico-item.png") no-repeat; margin-right: 12px; }
.module-name i.item-ico1 { background-position: 0 0; }
.module-name i.item-ico2 { background-position: 0 -20px; }
.module-name i.item-ico3 { background-position: 0 -40px; }
.module-name i.item-ico4 { background-position: 0 -60px; }
.module-name i.item-ico5 { background-position: 0 -124px; }
.module-name i.item-ico6 { background-position: 0 -102px; }
.module-name i.item-ico7 { background-position: 0 -81px; }
.module-name.fz-b { font-size: 24px; padding: 10px 0 }
.module-contain { padding: 22px; font-size: 14px; color: #999; position: relative;}
.module-contain strong{font-weight: bold}
.module-contain em{font-style: italic;}
.module-contain img, .module-contain input[type=image] { max-width: 100%; }
.module-contain #allmap img{max-width:initial}
.module-contain .map-btn{background: url(../images/detail/map-bg.png);text-align: right;padding: 10px 0;width: 890px;position: absolute;bottom:22px;left:22px;}
.module-contain .map-btn a{display: inline-block;*display: inline;*zoom: 1;width: 100px;height: 30px;line-height: 30px;text-align: center;color: #fff;font-size: 14px;margin-right: 10px;border-radius: 2px;}

/*评论*/
.comment { width: 100% }
.comment .dt { padding: 0 40px; line-height: 67px; background: #f8f8f8 }
.comment .dt .comment-num { float: right; font-size: 12px }
.comment .dt em { font-size: 24px }
.comment .dt span { padding-left: 20px }
.comment .dd { padding: 24px 40px; border-top: 1px solid #eee; }
.comment .dd .h6 { overflow: hidden }
.comment .dd .h6 .comment-time { float: right; font-size: 12px }
.comment .dd .comment-mark { padding-top: 10px }
.comment .dd p { padding-top: 10px }
.comment .more { padding: 0; text-align: center; line-height: 38px; cursor: pointer; border-top: 1px solid #eee; }
.comment .font-d { font-style: normal; color: #999; font-size: 14px; }
.comment .comment-tab{overflow: hidden;border-top: 1px solid #eee;}
.comment .comment-tab .hd{overflow: hidden;line-height: 52px;height: 52px;color: #d7d7d7;}
.comment .comment-tab .hd a{display: inline-block;*display: inline;*zoom: 1;padding: 0 24px;color: #666;font-size: 14px;margin-left: -3px;}
.comment .comment-tab .hd a.on{background: #0c960f;color: #fff;}


.list-r-02 {}
.list-r-02 .r-item-tit h3 { height: 52px; line-height: 52px; }
.list-r-02 ul { padding-bottom: 30px; }



/*酒店搜索*/
.hotel-search{text-align: right;padding: 10px 0;line-height: 30px;background: #fff;border-bottom: 1px solid #eee;position: relative;}
.hotel-search .input-box{display: inline-block;*display: inline;*zoom: 1;height: 28px;border: 1px solid #dcdcdc;padding: 0 15px;width: 160px;position: relative;vertical-align: middle;}
.hotel-search .input-box input{height: 28px;width: 130px;display: block;cursor: pointer;}
.hotel-search .input-box .tit{position: absolute;height: 28px;line-height: 28px;color: #666;font-size: 14px;right: 15px;top: 0;}
.hotel-search .txt{vertical-align: middle;display: inline-block;*display: inline;*zoom: 1;padding: 0 10px;font-size: 14px;color: #666;vertical-align: middle;}
.hotel-search .change-time{vertical-align: middle;width: 93px;height: 30px;border-radius: 3px;font-size: 14px;color: #fff;text-align: center;margin: 0 18px 0 55px;}
.hotel-pinfo p{display: inline-block;*display: inline;*zoom: 1;margin-right: 160px;margin-left: 0;}
.hotel-pinfo .tkt-pinfo-con-r{margin-left: 82px;min-height: 52px;}
.hotel-pinfo .img-box{width: 52px;height: 52px;position: relative;background: #ededed;float: left;}
.hotel-pinfo .img-box img{width: 100%;height: 100%;}
.hotel-pinfo .img-box .img-flex{display: none;position: absolute;left: 62px;top: -40px;padding: 9px 11px;background: #fff;border: 1px solid #e8e8e8;width: 225px;height: 225px;z-index: 3;}
.hotel-pinfo .img-box:hover .img-flex{display: block;}
.hotel-pinfo .tkt-pinfo-con .up-btn{margin-top: 14px;}
.commont-page{text-align: right}


/*行程安排*/
.routing-box{padding-left:32px; }
.routing-box .routing-txt{padding-left: 43px;position: relative;border-left: 1px solid #eaeaea;}
.routing-box .routing-txt .day-box{position: absolute;top: 0;left: -16.5px;background: url(../images/detail/bd.png) no-repeat;width: 33px;height: 38px;text-align: center;line-height: 38px;color: #fff;}
.routing-box .routing-txt .title{font-weight: bold;font-size: 18px;padding: 5px 0 18px;border-bottom: 1px solid #ddd;margin-bottom: 10px;}
.routing-box .routing-txt .title .time{color: #42b312;margin-right: 15px;}
.routing-box .routing-txt .title .d{color: #636363}
.routing-box .routing-txt .title .traffic{display: inline-block;*display: inline;*zoom: 1;width: 20px;height: 22px;background: url(../images/detail/traffic.png) no-repeat;vertical-align: middle;}
.routing-box .routing-txt .title .traffic.i-air{background-position: -4px -51px;}
.routing-box .routing-txt .title .traffic.i-car{background-position: -4px 3px;}
.routing-box .routing-txt .title .traffic.i-boat{background-position: -4px -156px;}
.routing-box .routing-txt .title .traffic.i-dc{background-position: -4px -102px;}

#allmap{height: 544px;}
.hotel-calendar{display: none;z-index: 99;top: 52px;right: 33px;position: absolute;}
.hotel-calendar .calendar-explian .p_ticket{display: none;}
.ml175{margin-left: 175px;}

.news-content .detail-main {
    width: 890px;
    border: 1px solid #eee;
    float: left;
    background: #fff;
}
.news-content .detail_show {
    font-size: 14px;
    color: #999;
    padding: 15px 15px 0;
}
.news-content .detail_show span {
    margin-right: 100px;
}
.news-content .detail_tit {
    text-align: center;
    font-size: 24px;
    line-height: 38px;
    padding-top: 20px;
}
.news-content .detail_content {
    color: #666;
    font-size: 14px;
    margin-top: 20px;
    word-break: break-all;
    word-wrap: break-word;
    padding: 15px;
}
.news-content .detail_content strong{
    font-weight: bold;
}
.news-content .detail_content p{
    padding-top: 20px;
    line-height: 24px;
}
.news-content .detail_content img{max-width: 100%;}
.share{
    padding-top: 10px;
    font-size: 14px;
}
.share label{
    float: left;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
   color:#999;
    padding-top: 10px;
}
.gray_btn{
    background: #ccc;
    color: #999;
    border: 1px solid #ccc;
}
.gray_btn:hover{
    background: #ccc;
}