
.innerW {
    max-width: 1200px;
    margin: 0 auto;
}
.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.shadow {
    box-shadow: 1px 0px 6px 0px rgba(0,0,0,.2);
}






.indexBanner {
    width: 100%;
    min-width: 1200px;
    background-color: #ccc;
    position: relative;
}
.bannerBox {
    overflow: hidden;
}
.indexBanner .bannerImg {
    width: 100%;
    height: 100%;
}
.indexBanner .swiper-container {
    position: relative;
    z-index: 1;
}
.orderBox {
    width: 248px;
    height: 300px;
    padding: 15px;
    position: absolute;
    right: 50%;
    top: 87px;
    margin-right: -600px;
    background-color: rgba(239,245,239,.9);
    z-index: 2;
}
.orderBox .orderNav {
    height: 25px;
    padding: 10px 0;
}
.orderBox .orderNav span {
    height: 25px;
    float: left;
    width: 45px;
    margin: 0 8px;
    text-align: center;
    line-height: 25px;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}
.orderBox .orderNav span.on {
    color: #fff;
    background-color: #0c960f;
}
.orderFormBox {
    width: 248px;
    height: 268px;
}
.orderForm {
    text-align: center;
}
.orderForm table {
    margin: 0 3px;
}
.orderForm table tr {
    border-bottom: 1px solid #ccc;
}
.orderForm table td {
    height: 48px;
}
.orderForm table label {
    color: #636363;
    font-size: 14px;
    margin-right: 5px;
    text-align: left;
    display: block;
    width: 60px;
}
.orderForm table input,.orderForm table select {
    height: 28px;
    line-height: 28px;
    border: none;
    text-align: center;
    width: 150px;
    outline: none;
    background: none;
}
.orderForm .orderBtn {
    width: 78px;
    height: 28px;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
    color: #333;
    border-radius: 3px;
    border: 1px solid #979797;
    margin: 18px auto;
    background: none;
    cursor: pointer;
}
.orderForm .orderBtn:hover {
    background-color:#0c960f;
    color: #fff;
    border: 1px solid #0c960f;
}
.orderForm .icon {
    display: block;
    width: 22px;
    height: 22px;
}
.newsBox {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    height: 25px;
    background-color: rgba(0,0,0,.7);
    overflow: hidden;
}
.newsBox .icon-news {
    margin-right: 5px;
    margin-left: 15px;
    width: 25px;
    height: 25px;
}
.newsList {
    width: 445px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #fff;
}
.newsList a {
    display: block;
    width: 445px;
    height: 25px;
    line-height: 25px;
}
.newsList a:link,.newsList a:hover,.newsList a:visited {
    color:#fff;
}

.hotSalesProduct {
    position: relative;
    height: 692px;
    padding-top: 38px;
}
.hotSalesProduct .blockBg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../images/index/bg_05.jpg') center no-repeat;
}
.recommendBox {
    position: relative;
    z-index: 2;
}
.recommendBox .titleBox {
    width: 150px;
    height: 425px;
    float: left;
    position: relative;
    margin-right: 66px;
}
.recommendBox .titleName {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    color: #4b4c4c;
}
.recommendBox .descrption {
    position: absolute;
    top: 135px;
    left: 69px;
    width: 50px;
    height: 290px;
    font-size: 12px;
    color: rgba(92,81,73,.8);
    padding-left: 10px;
    padding-top: 10px;
    background: url("../images/index/sprites.png") -331px -60px;
}
.recommendBox .descrption p {
    writing-mode: vertical-rl;
    transform-origin: 0;
    transform: scale(.96)
}
.recommendContent {
    width: 950px;
    position: relative;
    margin-top: 69px;
    float: left;
}
.recommendContent .more {
    position: absolute;
    right: 0;
    height: 20px;
    line-height: 20px;
    top: -36px;
    font-size: 14px;
    width: 100px;
    color: #4b4c4c;
    cursor: pointer;
    text-align: right;
}
.recommendContent .more:hover {
    color: rgba(112, 114, 114, 0.81);
}
.recommendContent .contentList {
    margin:0 0 -20px -20px;
}
.scenicRecommend .recommendContent .contentList {
    margin: 0 0 -14px -13px;
}
.recommendContent .item {
    position: relative;
    width: 306px;
    height: 299px;
    float: left;
    margin:0 0 14px 14px;
    overflow: hidden;
}
.recommendContent .item.longH {
    width: 303px;
    height: 550px;
    margin: 0 0 20px 20px;
}
.recommendContent .item.longW {
    width: 625px;
}
.recommendContent .item .mainImg {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.recommendContent .item .normalLayer {
    height: 44px;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 98%;
    padding: 0 1%;
    font-size: 18px;
    line-height: 44px;
    z-index: 2;
    color: #fff;
    text-align: center;
    transition: bottom .25s;
}
.recommendContent .item:hover .normalLayer {
    bottom: -44px;
}
.recommendContent .item .itemScenicLayer {
    position: absolute;
    z-index: 3;
    bottom: -145px;
    left: 0;
    width: 100%;
    height: 135px;
    background-color: rgba(255,255,255,.95);
    padding: 5px 0;
    transition: bottom .5s;
    transition-delay: .25s;
}
.recommendContent .item:hover .itemScenicLayer {
    bottom: 0;
}
.recommendContent .itemScenicLayer h3 {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #000;
    font-size: 17px;
    border-bottom: 1px solid #ddd;
}
.recommendContent .itemScenicLayer .priceBox {
    height: 42px;
    line-height: 42px;
    text-align: center;
    margin-top: 5px;
}
.recommendContent .itemScenicLayer .priceBox i{
    color: #ff7000;
    font-style: normal;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}
.recommendContent .itemScenicLayer .startPrice {
    color: #ff7000;
    font-size: 20px;
    font-weight: 100;
    display: inline-block;
    vertical-align: middle;
    padding: 0 3px;
}
.recommendContent .itemScenicLayer .des {
    font-size: 12px;
    color: #333;
    margin: 6px 30px;
    overflow: hidden;
}
.recommendContent .itemScenicLayer .txt {
    font-size: 14px;
    color: #333;
}
.recommendContent .item .signLayer {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.1); /* 一些不支持背景渐变的浏览器 */
    background:-moz-linear-gradient(top, rgba(0,0,0,.15), rgba(0,0,0, .01));
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(rgba(59,50,45,.15)), to(rgba(59,50,45, .01)));
    background:-o-linear-gradient(top, rgba(0,0,0,.15), rgba(0,0,0, .01));
}
.recommendContent .item:hover .signLayer {
    transition: top 1.5s;
    top: -100%;
}
.recommendContent .item .keyWords {
    position: absolute;
    background: url("../images/index/sprites.png") -71px -333px;
    width: 45px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    bottom: 21px;
    left: 26px;
    z-index: 3;
}
.keyWords .icon {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
}
.signLayer .line {
    position: absolute;
    left: 50%;
    width: 1px;
    height: 200px;
    background-color: #fff;
    margin-left: -1px;
}
.signLayer .icon {
    display: block;
    position: absolute;
    left: 50%;
    width: 62px;
    height: 27px;
    top: 205px;
    margin-left: -31px;
}
.signLayer .signText {
    position: absolute;
    display: block;
    width: 98px;
    height: 30px;
    font-size: 20px;
    font-family: '黑体';
    font-weight: 600;
    text-align: center;
    color: #fff;
    top: 273px;
    left: 50%;
    margin-left: -49px;
}
.recommendContent .item .itemLayer {
    border-top: 1px solid #333;
    position: absolute;
    background-color: rgba(59,50,45,.95);
    width: 100%;
    height: 50%;
    bottom: -50%;
    z-index: 4;
}
.recommendContent .layerInner {
    padding: 30px 24px;
    color: #fff;
}
.recommendContent .item:hover .itemLayer {
    bottom: 0;
    transition: bottom 1.1s;
}
.recommendContent .itemLayer h3 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px;
}
.recommendContent .itemLayer .des {
    font-size: 12px;
    opacity: .9;
    width: 80%;
    height: 38px;
    overflow: hidden;
    line-height: 18px;
    margin-bottom: 42px;
}
.recommendContent .priceBox div {
    padding: 6px 0;
}
.recommendContent .priceBox .originalPrice {
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    text-decoration: line-through;
}
.recommendContent .priceBox .normalPrice {
    height: 22px;
    line-height: 22px;
}
.itemLayer .buyBtn {
    width: 48px;
    height: 48px;
    border: 1px solid #000;
    background-color: #cd0400;
    display: block;
    position: absolute;
    right: 22px;
    bottom: 22px;
    text-transform: capitalize;
    line-height: 48px;
    text-align: center;
}
.itemLayer .buyBtn .icon {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
}
.recommendWrap {
    position: relative;
}
.recommendWrap .bg {
    position: absolute;
    z-index: 1;
    background-image: url('../images/index/bg_06.jpg');
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.scenicRecommend {
    position: relative;
    z-index: 2;
    padding-top: 25px;
    padding-bottom: 35px;
}
.hotelRecommendBox {
    position: relative;
    z-index: 2;
    width: 1130px;
    padding-bottom: 29px;
}
.hotelRecommendBox .titleBox {
    height: 58px;
    line-height: 58px;
    font-size: 20px;
    color: #4b4c4c;
}
.hotelRecommendBox .more {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #4b4c4c;
    float: right;
    margin-top: 20px;
}
.hot-box{
    height: 570px;
    overflow: hidden;
}
.hotelRecommendBox .hotelList {
    margin: 0 0 -15px -11px;
    height: 626px;
    overflow: hidden;
}
.hotelRecommendBox .item {
    width: 264px;
    height: 250px;
    float: left;
    margin: 0 0 15px 13px;
    background-color: #fff;
    padding: 24px 18px;
}
.hotelRecommendBox .item.first {
    width: 458px;
    height: 563px;
    padding: 24px 21px;
}
.hotelRecommendBox .item .imgs-swiper {
    border: 1px solid #4b4c4c;
}
.hotelRecommendBox .item:hover img {
    transform: scale(1.05);
}
.hotelRecommendBox .item img {
    display: block;
    width: 263px;
    height: 128px;
    transition: transform .5s;
}
.hotelRecommendBox .item .title {
    height: 30px;
    line-height: 30px;
    margin-bottom: 6px;
    margin-top: 15px;
    font-size: 17px;
    color: #000;
    white-space: nowrap; *white-space:inherit; overflow: hidden; text-overflow: ellipsis;
}
.hotelRecommendBox .item.first .slide-rl {
    height: 24px;
    margin-top: 3px;
}
.hotelRecommendBox .item.first .hotel-prev,.hotelRecommendBox .item.first .hotel-next {
    background-image: url('../images/index/sprites.png');
    width: 24px;
    height: 24px;
    position: static;
    float: right;
    margin: 0 0 0 10px;
    opacity: 1;
    pointer-events:auto;
    cursor: pointer;
    -webkit-background-size: unset;
    background-size: unset;
}
.hotelRecommendBox .item.first .hotel-prev {
    background-position: -99px -415px;
}
.hotelRecommendBox .item.first .hotel-next {
    background-position: -68px -415px;
}
.hotelRecommendBox .item.first .hotel-prev:hover {
    background-position: -37px -415px;
}
.hotelRecommendBox .item.first .hotel-next:hover {
    background-position: -6px -415px;
}

.hotelRecommendBox .item.first .descrption {
    height: 40px;
}
.hotelRecommendBox .item .descrption {
    color: #aaa;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
}
.hotelRecommendBox .item.first  img {
    width: 456px;
    height: 398px;
    transform: none;
}
.hotelRecommendBox .buyBox {
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
}
.hotelRecommendBox .first .buyBox {
    text-align: left;
}
.hotelRecommendBox .priceBox {
    height: 33px;
    color: #f70400;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.hotelRecommendBox .priceBox i,.hotelRecommendBox .priceBox span {
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    height: 33px;
    line-height: 33px;
}
.hotelRecommendBox .originalPrice {
    height: 33px;
    line-height: 33px;
    display: inline-block;
    vertical-align: middle;
    color: #ccc;
    text-decoration: line-through;
    font-size: 12px;
}
.hotelRecommendBox .priceBox,.hotelRecommendBox .originalPrice {
    opacity:1;
    filter: alpha(opacity=1);
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.hotelRecommendBox .buyBtn {
    background-color: #0c960f;
    color: #fff;
    width: 128px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    font-size: 15px;

    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    opacity:0;
    filter: alpha(opacity=0);
}
.hotelRecommendBox .buyBtn:hover {
    background-color: #0da410;
}
.hotelRecommendBox .first .buyBtn {
    float: right;
    display: block;
    opacity:1;
    filter: alpha(opacity=1);
}
.hotelRecommendBox .item.on .priceBox,.hotelRecommendBox .item.on .originalPrice {
    display: none;
    opacity:0;
    filter: alpha(opacity=0);
}
.hotelRecommendBox .item.on.first .priceBox,.hotelRecommendBox .item.on.first .originalPrice {
    display: inline-block;
    opacity:1;
    filter: alpha(opacity=1);
}
.hotelRecommendBox .item.on .buyBtn {
    display: block;
    opacity:1;
    filter: alpha(opacity=1);
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}
.travelGuide {
    position: relative;
    padding: 30px 0;
}
.travelGuide .innerW {
    position: relative;
    z-index: 2;
}
.travelGuideBox .titleBox h3 {
    font-size: 20px;
    text-align: center;
    height: 32px;
    line-height: 32px;
}
.travelGuideBox .titleBox .des {
    font-size: 12px;
    color: #5c5149;
    margin: -15px 0 0 470px;
}
.travelGuideBg {
    background: url('../images/index/bg_07.jpg') no-repeat;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.travelGuideList {
    margin-top: 90px;
    width: 1060px;
    padding: 10px 5px 0 5px;
}
.guide-swiper-pagination {
    height: 46px;
    line-height: 46px;
    text-align: center;
}
.guide-swiper-pagination .swiper-pagination-bullet {
    margin: 0 5px;
    width: 10px;
    height: 10px;
    background-color: #dae8d9;
    opacity: 1;
    cursor: pointer;
}
.guide-swiper-pagination .swiper-pagination-bullet-active {
    background-color: #119616;
}
.travelGuideList .swiper-slide {
    width: 296px;
    height: 290px;
    text-align: center;
    position: relative;
}
.travelGuideList .swiper-slide a{
    position: relative;
    z-index: 2;
    display: block;
}
.travelGuideList .swiper-slide img {
    width: 296px;
    height: 196px;
    display: block;
}
.travelGuideList .swiper-slide .title {
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
}
.travelGuideList .swiper-slide .des {
    font-size: 12px;
    color: #969696;
    height: 24px;
    line-height: 24px;
}
.swiper-slide .shadow-layer {
    background-image: url('../images/index/guide-shadow.png');
    position: absolute;
    z-index: 1;
    width: 304px;
    height: 203px;
    top: -7px;
    left: -4px;
}
.guide-next {
    top: 144px;
    right: -15px;
    width: 66px;
    height: 110px;
    opacity: 1;
    background: url("../images/index/sprites.png") -4px -203px no-repeat rgba(0,0,0,0);
}
.guide-prev {
    opacity: 1;
    top: 144px;
    left: -15px;
    width: 66px;
    height: 110px;
    background: url("../images/index/sprites.png") -82px -203px no-repeat rgba(0,0,0,0);
}
.guide-next:hover,.guide-prev:hover {
    background-color: rgba(0,0,0,.2);

}


.cssSelect { white-space: nowrap; float: left; width:100%;}
.cssSelect *{ display: block; }
.cssSelect a{ color: #666; outline-width: 0px; text-decoration: none; }
.cssSelect .selectBox{ cursor: pointer;  float: left; }
.cssSelect .selectLt{ cursor: pointer; float: left; text-align: left;width:100%; }
.cssSelect .selectRt{ cursor: pointer;display:none; background:#f2f2f2; border-left: 1px solid #c8c8c8; float: left}
.cssSelect .selectBox{width:100%; text-align: center}
.cssSelect .selectLt{ overflow: hidden; font-size:14px; text-align: center; height: 30px; line-height: 31px; padding: 0 10px; background: none transparent scroll repeat 0% 0%; color: #333; }
.cssSelect .selectRt{ height: 30px; padding-bottom: 0px; padding-top: 0px; padding-left: 0px; padding-right: 28px}
.cssSelect .sNormal{ background-position: 0px 0px}
/*.cssSelect .sNormal .selectRt { background-position: 100% 0px}*/
.cssSelect .sHover{ background-position: 0px -50px}
.cssSelect .sHover .selectRt{ background: #e6e6e6; }
.cssSelect .sPressDown{ }
.cssSelect .sPressDown .selectRt{ background:  #e6e6e6; }
.cssSelect .optionsBox{ position: absolute; right:0;border: 1px solid #dbdbdb; padding: 2px; margin: 0px; background: #fff; z-index: 100;}
.cssSelect .optionsInnerBox { }
.cssSelect .optionBox { cursor: pointer; padding: 2px 30px 2px 18px; margin: 0px; height:25px; line-height: 25px; }
.cssSelect .optionBox span { cursor: pointer; font-size:12px}
.cssSelect .oNormal { }
.cssSelect .oHover{ background: #81bc02; color: #fff; }
.cssSelect .selected{ background: #0c960f; color: #fff; }

.shutter-img {
    z-index: 1;
    overflow: hidden;
    position: relative;
}
.shutter-img,
.shutter-img a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.shutter-img a {
    cursor: default;
}
.shutter-img a > img {
    width: 100%;
    height: 100%;
}
.shutter-img .created {
    overflow: hidden;
    position: absolute;
    z-index: 20;
}
.shutter-btn {}
.shutter-btn li {
    position: absolute;
    z-index: 2;
    top: 50%;
    width: 49px;
    height: 49px;
    margin-top: -25px;
    cursor: pointer;
}
.shutter-btn li.prev {
    left: 20px;
}
.shutter-btn li.next {
    right: 20px;
}
.shutter-desc {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
}
.shutter-desc p {
    padding-left: 20px;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
}
.shutter-pagination {
    position: absolute;
    bottom: 68px;
    width: 100%;
    height: 20px;
    z-index: 2;
    text-align: center;
}
.shutter-pagination span {
    display: inline-block;
    width: 18px;
    height: 4px;
    border-radius: 3px;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
    opacity: .9;
    margin: 0 2px;
}
.shutter-pagination span.active {
    background-color: #0d9212;
}