@charset "UTF-8";
.list-wrap { width: 1200px; margin: 0 auto }
.item-main, .list-container { zoom: 1 }
.item-main:after, .list-container:after { display: block; clear: both; visibility: hidden; height: 0; overflow: hidden; content: "." }
.ib { display: inline-block;  *display: inline;
 *zoom: 1;
 *zoom: 1;
 *display: inline
}
.item-price i, .item-typelist td i { font-style: normal; }
.list-tab { overflow: hidden }
.list-tab, .list-tab a { height: 46px; line-height: 46px }
.list-tab a { float: left; color: #666; font-size: 14px; text-align: center; padding: 0 30px; background-color: #fff; margin-right: 1px; cursor: pointer }
.list-tab a.on { background-color: #3ea3ff; color: #fff }
.list-tab a:hover { background-color: #71bbff; color: #fff }
.list-filter { position: relative; /*border-top: 2px solid #3ea3ff;*/ background-color: #fff; border-bottom:1px solid #eee;}
.list-filter .accurate-date { position: absolute; right: 10px; top: 0; height: 44px; line-height: 44px; color: #666 }
.list-filter .accurate-date span { height: 22px; line-height: 22px; display: inline-block;  *display: inline;
 *zoom: 1;
vertical-align: middle }
.list-filter i.icon-calender { margin-right: 3px; line-height: 20px }
.list-filter .date-txt, .list-filter i.icon-calender { display: inline-block;  *display: inline;
 *zoom: 1;
vertical-align: middle; color: #666 }
.list-filter .date-txt { width: 75px; height: 45px; line-height: 45px }
.list-filter .changeDate { display: inline-block;  *display: inline;
 *zoom: 1;
vertical-align: middle; height: 20px; line-height: 20px; text-align: center; background-color: #10bd0c; color: #fff; border-radius: 3px; padding: 0 5px; cursor: pointer }
.list-filter .changeDate:hover { background-color: #0c8d09 }
.filter-box { overflow: hidden; width: 100%;     border: 1px solid #eee;    border-bottom: 0;}
.filter-box .hd { line-height: 45px; font-size: 14px; color: #666; text-align: center; width: 120px; float: left }
.filter-box .bd { margin-left: 120px; line-height: 45px }
.filter-box li { display: inline-block;  *display: inline;
 *zoom: 1;
vertical-align: middle; height: 45px; line-height: 25px; color: #333; font-size: 14px; margin: 0 10px }
.filter-box li a { display: block; margin: 10px 0; padding: 0 10px; text-align: center; color: #333 }
.filter-box li a:link, .filter-box li a:visited { color: #333 }
.filter-box li a:hover,.filter-box li a.on { color: #fff; background-color: #0c960f; border-radius: 5px }
.list-sort { height: 44px; background-color: #fff;  border:1px solid #eee;position: relative;}
.list-sort.bdt { border-top: 2px solid #3ea3ff }
.sort-bd { float: left; display: inline-block; *zoom:1; *display:inline;}
.sort-bd a { float:left; *display:inline; *width:48px; padding: 0 20px; height: 44px; min-width:48px;  text-align:center; line-height: 44px; color: #666; font-size: 14px; cursor: pointer }
.sort-bd a.on{ background: #f4f4f4; color:#ffa900;}
.sort-bd a:hover { color: #ffa900 }
.sort-bd .sort-arr { width: 10px; height: 14px; padding-top: 17px; line-height: 0; float: right; margin-left: 4px; }
.sort-bd .sort-arr i { display: block; width: 7px; height: 4px; background: url(../images/common/ico-sort.png) no-repeat; margin-bottom: 2px; overflow: hidden; font-size: 10px }
.sort-bd .sort-arr i.ico-pd{ height:8px; background:url(../images/common/ico-sort2.png) no-repeat; margin-top: 2px;} 
.sort-bd .sort-arr i.ico-pd.cur{ background-position: -13px 0;}
.sort-bd .sort-arr i.ico-up{ background-position:0 0;}
.sort-bd .sort-arr i.ico-up.cur{ background-position:-7px 0;}
.sort-bd .sort-arr i.ico-down{ background-position:0 -5px;}
.sort-bd .sort-arr i.ico-down.cur{ background-position:-7px -5px;}
.sort-search { position: relative; float: right; height: 44px }
.sort-search .search-txt { padding: 0 5px; height: 44px; line-height: 44px; border-left: 1px solid #eee; color: #999 }
.sort-search .sort-search-submit { position: relative; z-index: 2; border: none; outline: none; width: 58px; height: 44px; font-size: 24px; color: #fff; cursor: pointer; background: #ffa900 url(../images/common/seach.png) no-repeat center; border-left: 1px solid #eee }
.sort-search .sort-search-txt { cursor: pointer;width: 200px; padding: 0 40px 0 12px; height: 44px; line-height: 44px; font-size: 12px; color: #666; float: left; border-left: 1px solid #eee; position: relative; z-index: 1 }
.sort-search.sort-time .sort-search-txt{ width: 140px;}
.sort-search i { position: absolute; z-index: 2; right: 8px; top: 10px; }
.sort-search .icon-down { right: 70px; top: 19px; cursor: pointer }
.list-container { margin-top: 15px }
.list-main-bd { float: left; width: 100%; height: 100% }
.list-main { height: 100% }
.list-main.type0 { margin-right: 310px }
.list-main.type1, .list-main.type2 { margin-right: 267px }
.list-item { background-color: #fff; border: 1px solid #dcdcdc }
.list-r { height: 100%; float: left }
.list-r.type0 { /*width: 332px;*/
    /*margin-left: -332px;*/
width: 300px; margin-left: -300px; }
.list-r.type1, .list-r.type2 { width: 255px; margin-left: -255px }
.item-main { position: relative; padding: 15px }
.item-main.type2 { padding: 0 15px 0 0 }
.item-main .icon-top-sign { position: absolute; top: -1px; right: 155px; width: 27px; height: 14px; background-image: url(../images/list/t-r-corner.gif) }
.item-main.guidance { padding: 0 }
.item-name { overflow: hidden }
.item-name.type1, .item-name.type2 { margin-bottom: 10px }
.item-l { width: 290px; float: left; overflow: hidden; margin-right: 10px }
.item-imgs { width: 290px; height:200px }
.item-imgs a{display: block;height: 100%;width: 100%;}
.item-imgs img { width: 100%; height: 100% }
.item-imgslide { float: left }
.item-imgslide img { width: 100%; height: 100% }
.item-imgslide .hd li { position: relative }
.item-imgslide .hd .on .bg { display: block }
.item-imgslide .hd .bg { display: none; position: absolute; z-index: 2; width: 100%; height: 100%; top: 0; left: 0; background-color: #3ea3ff; opacity: .6; filter: alpha(opacity=60) }
.item-imgslide .hd img { position: relative; z-index: 1 }
.item-imgslide.type1 { width: 348px; height: 224px; margin-right: 25px }
.item-imgslide.type1 .bd { float: left; overflow: hidden }
.item-imgslide.type1 .bd, .item-imgslide.type1 .bd li { display: block; width: 290px; height: 223px }
.item-imgslide.type1 .hd { float: left; margin-left: 1px; width: 57px; height: 223px; overflow: hidden }
.item-imgslide.type1 .hd li { display: block; height: 44px; width: 57px; margin-bottom: 1px; cursor: pointer }
.item-imgslide.type2 { width: 301px; height: 241px; margin-right: 15px }
.item-imgslide.type2 .icon-img-arr { position: absolute; width: 12px; height: 21px; right: 0; top: 50%; margin-top: -10px; z-index: 2 }
.item-imgslide.type2 .bd { position: relative; float: left; z-index: 1 }
.item-imgslide.type2 .bd, .item-imgslide.type2 .bd ul { width: 235px; height: 241px; overflow: hidden }
.item-imgslide.type2 .bd li { width: 235px; height: 241px; display: block }
.item-imgslide.type2 .hd { float: left; width: 57px; height: 223px; margin-top: 10px; margin-left: 9px; overflow: hidden }
.item-imgslide.type2 .hd li { display: block; height: 43px; width: 57px; margin-bottom: 1px; cursor: pointer }
.item-imgs-list { width: 820px }
.item-imgs-list .bd { overflow: hidden }
.item-imgs-list .img_li { width: 272px; height: 160px; float: left; margin-right: 1px; background-color: #eee; margin-bottom: 1px }
.item-imgs-list img { width: 100%; height: 100% }
.food-list-item .item-summary{height: 200px;}
.item-summary { overflow: hidden; position: relative; }
.item-summary .item-price { position: absolute; right: 0; top: 0; }
.item-summary .item-score { position: absolute; right: 0; top: 40px; color: #666666; font-size: 14px; }
.item-summary .item-score span { color: #ff6666; }
.item-summary h4 { height: 20px; line-height: 20px; font-size: 14px; color: #666 }
.item-summary p { padding: 0; line-height: 22px; font-size: 14px; color: #666; overflow: hidden }
.item-summary p.service-list span { margin-left: 0; margin-right: 15px }
.item-summary p.tip { color: #999; font-size: 12px }
.item-summary p .more { color: #f66; font-size: 14px; margin-left: 10px }
.item-summary p .more:hover { color: #f99 }
.item-summary p span { display: inline-block;  *display: inline;
 *zoom: 1;
vertical-align: middle; margin: 0 5px; line-height: 26px }
.item-summary p span.timelist { margin-left: 0 }
.item-summary p span.timelist span { margin: 0 6px 0 0 }
.item-summary p span b { display: inline-block;  *display: inline;
 *zoom: 1;
vertical-align: middle; font-weight: 400; color: #999 }
.item-summary p strong { width: 90px; display: inline-block;  *display: inline;
 *zoom: 1;
vertical-align: middle; color: #666 }
.item-summary p strong.wmax { width: auto; max-width: 90px }
.item-summary p.des { background: url("../images/common/ico-address.png") no-repeat left center; padding-left: 18px; line-height: 24px; font-size: 14px; margin-bottom: 10px; }
.item-summary p.food-des{ background:none; padding-left: 0;}
.item-summary p.tour-des{ background:none; padding-left: 0;margin-top: 10px;margin-bottom: 0;}

.item-summary p.des .icon-server { display: inline-block;  *display: inline;
 *zoom: 1;
vertical-align: middle; width: 20px; height: 20px; margin-right: 5px }
.item-summary p.des b { font-weight: 400 }
.item-summary p.time{ color:#999; border-top: 1px dotted #e6e6e6; padding-top: 5px; font-size:12px;}
.item-summary p.time strong{ color:#ff7000; width:auto;}
.item-summary .icon-localtion { margin-right: 3px; width: 20px; height: 20px; line-height: 20px; color: #3ea3ff }
.service-list { color: #999 }
.service-list span { display: inline-block;  *display: inline;
 *zoom: 1;
vertical-align: top; margin-right: 15px }
.service-list b { font-size: 12px; height: 26px; line-height: 26px }
.service-list b, .service-list i { display: inline-block;  *display: inline;
 *zoom: 1;
vertical-align: middle }
.service-list i { width: 20px; height: 20px; margin-right: 3px }
.item-tit { color: #222; overflow: hidden; margin-bottom: 10px; padding-top: 8px;}
.item-tit, .item-tit h3 { height: 44px; line-height: 44px;}
.item-tit h3 {  font-size: 22px; font-weight: 400; margin-right: 100px; white-space: nowrap; *white-space:inherit; overflow: hidden; text-overflow: ellipsis;}
.item-tit.h_two{
	height: 60px;
	margin-bottom: 26px;
	}
.item-tit.h_two h3{  
	white-space:inherit;
	word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
	line-clamp: 2;
	box-orient: vertical;
	height: 60px;
	line-height: 30px;
	}
.item-tit a { color: #222;}
.item-tit .tit-tag{ }
.item-tit .tit-tag span{ margin:0 6px 5px 0;display: inline-block; *zoom:1; *display:inline; height:16px; vertical-align: top; color:#f63; border:1px solid #f63; font: normal 12px/15px "Microsoft YaHei"; padding:0 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.item-tit .tit-level { font-size: 14px; color: #1d9add; padding-left: 10px; }
.item-tit a:link, .item-tit a:visited { color: #222 }
.item-tit .tag { border-radius: 8px; height: 16px; line-height: 16px; border: 1px solid #10bd0c; color: #10bd0c; font-size: 12px; vertical-align: middle; padding: 0 6px; margin-left: 10px }
.item-tit .title-icons.fr { float: right }
.item-tit .title-icons span { margin-right: 10px }
.item-tit .title-icons i { margin-right: 5px; font-size: 22px; color: #10bd0c }
.item-tit .title-icons em { display: inline-block;  *display: inline;
 *zoom: 1;
vertical-align: middle; font-size: 14px; color: #666 }
.item-r { float: right; width: 160px; text-align: center; border-left: 1px solid #eee; margin-left: 10px }
.item-r .item-price { float: none }
.item-r .item-btn-box { float: none; margin: 10px 0 }
.item-r p { font-size: 14px; color: #666; line-height: 20px }
.item-r.nobdl { border-left: none }
.item-r.nobdl.type0 { margin-top: 30px }
.item-r.nobdl.type0 .item-price { height: 32px }
.item-r.has_bdl i { font-size: 16px }
.item-r.has_bdl em { font-size: 20px }
.item-r.has_bdl b { font-size: 14px }
.item-r.has_bdl.type0 { width: 125px }
.item-r.has_bdl.type0 .item-price { margin-top: 20px; margin-bottom: 30px }
.item-r.has_bdl.type1 { height: 275px; width: 125px }
.item-r.has_bdl.type1 .item-price { margin-top: 60px }
.item-price { float: right; height: 44px; line-height: 44px; color: #666 }
.item-price i { font-size: 16px }
.item-price em, .item-price i { display: inline-block;  *display: inline;
 *zoom: 1;
vertical-align: top; line-height: 44px }
.item-price em { font-size: 30px; margin: 0 3px; color: #f66 }
.item-price b { font-size: 14px; color: #222; font-weight: 400; line-height: 44px }
.item-price b, .item-price del { display: inline-block;  *display: inline;
 *zoom: 1;
vertical-align: top }
.item-price del { color: #999; font-size: 16px; text-decoration: line-through }

.item-price.food-item-price{ bottom: 0; top:auto; }
.food-item-price em{ font-size:24px;}
.food-item-price i{}
.food-item-price b{ font-size:16px;}

.item-info { line-height: 28px; font-size: 12px; overflow: hidden }
.item-info span{ margin-right: 10px;}
.item-info span.tc { text-align: center; display: inline-block; vertical-align: top; height:28px; background: #eef5f7; min-width:90px; margin-right: 1px; color:#999;  }

.item-info span .icon-local { width: 20px; height: 20px; color: #ddae80 }
.item-info em, .item-info span .icon-local { display: inline-block;  *display: inline;
 *zoom: 1;
vertical-align: middle }
.item-info em { margin-right: 3px; vertical-align: top; *vertical-align: middle;}
.item-info b, .item-info strong { display: inline-block;  *display: inline;
 *zoom: 1;
vertical-align: middle; font-weight: 400; color: #666 }
.item-info .icon-star { display: inline-block;  *display: inline;
 *zoom: 1;
vertical-align: middle; width: 20px; height: 20px }
.termini-tags { font-size: 14px; color: #e0e9f0; line-height: 18px }
.termini-tags .tag { display: inline-block;  *display: inline;
 *zoom: 1;
vertical-align: middle; height: 18px; line-height: 18px; background-color: #10bd0c; color: #fff; font-size: 12px; padding: 0 5px; border-radius: 3px; text-align: center; margin-left: 0 }
.termini-tags span { font-size: 14px; color: #999 }
.points-box { vertical-align: middle }
.points-box .points { color: #10bd0c; font-size: 16px; font-weight: 700 }
.points-box span, .points-box strong { font-size: 14px; color: #666 }
.item-des-box { margin-right: 90px; }
.item-des { padding-top:12px; margin-bottom: 12px; color: #999; font-size: 12px; line-height: 22px;  overflow: hidden; height: 44px; }
.item-des i { display: inline-block;  *display: inline;
 *zoom: 1;
vertical-align: middle }
.item-pots { padding: 10px 0 }
.item-pots, .item-pots p { font-size: 12px; color: #999 }
.item-pots p { line-height: 20px }
.item-signbox { vertical-align: middle; line-height: 22px }
.item-signbox, .item-signbox i { display: inline-block;  *display: inline;
 *zoom: 1;
height: 22px }
.item-signbox i { vertical-align: top; width: 22px; margin: 0 3px }
.item-btn-box { float: right; text-align:right; }
.item-btn-box.poa_rb { position: absolute; bottom: 0; right: 0 }
.item-btn-box.poa_rt { position: absolute; top: 14px; right: 0 } 
.item-btn-box.poa_lb { position: absolute; bottom: 0; left: 0 } 
.item-btn-box .btn { display: inline-block;  *display: inline;*zoom: 1;vertical-align: middle;outline: 0;   height: 30px; line-height: 30px; margin: auto; border-radius: 5px; font-size: 14px; text-align: center; cursor: pointer;width: 80px;}
.item-btn-box .item-price { float: none; display: inline-block;  *display: inline;
 *zoom: 1;
vertical-align: middle; margin-right: 30px }
.item-typelist { width: 100%; border-top: 1px solid #eee }
.item-typelist table { width: 100% }
.item-typelist tr { border-bottom: 1px solid #eee }
.item-typelist tr:hover { background-color: #f8f8f8 }
.item-typelist td, .item-typelist th { height: 24px; padding: 15px; text-align: center }
.item-typelist tr.special td,.item-typelist tr.special td span{font-size: 12px;}
.item-typelist tr.special td{color: #999;}
.item-typelist tr.special td em{font-size: 14px;}
.item-typelist tr.dom .btn-box a{border: 0;font-size: 14px;}
.item-typelist tr.dom .btn-box a:hover{background: transparent;color: #16b2f3;}

.item-typelist td.tl, .item-typelist th.tl { text-align: left }
.item-typelist td.tr, .item-typelist th.tr { text-align: right }
.item-typelist th { height: 33px; background-color: #fbfdff; padding: 0 15px; font-weight: 400 }
.item-typelist td, .item-typelist th { color: #666; font-size: 14px }
.item-typelist td .look-all { background: url("../images/common/ico-bot.png") no-repeat right center; padding-right: 15px;font-size:12px; }
.item-typelist td span { font-size: 14px }
.item-typelist td span.activity { color: #5ecb5d }
.item-typelist td span.policy, .item-typelist td span.service, .item-typelist td span.tip { color: #999 }
.item-typelist td span.service { color: #10bd0c; font-size:12px;}
.item-typelist td em {font-size: 16px }
.item-typelist td i { color: #f66; }
.item-typelist td del { color: #999; margin: 0 30px; }
.item-typelist .btn-box a { display: inline-block;  *display: inline;*zoom: 1;vertical-align: middle; outline: 0; width: 68px; height: 24px; line-height: 24px; margin: auto;border-radius: 3px; font-size: 14px; text-align: center; cursor: pointer;}
.showtime-list { margin-top: 10px }
.showtime-list .bd { padding: 10px; margin-top: -1px; z-index: 1 }
.showtime-list .bd, .showtime-list .hd { border: 1px solid #c7c7c7; background-color: #f9f9f9; position: relative }
.showtime-list .hd { width: 90px; height: 28px; line-height: 28px; font-size: 14px; border-bottom: 0; text-align: center; color: #f66; z-index: 2 }
.showtime-list p { padding: 6px 0 }
.showtime-list p strong { color: #999 }
.timelist { display: inline-block;  *display: inline;
 *zoom: 1;
vertical-align: middle; position: relative; z-index: 1 }
.timelist .time { position: relative; width: 70px; height: 26px; line-height: 26px; text-align: center; font-size: 14px; background-color: #fff; border: 1px solid #c1c1c1 }
.timelist .time.forbiden { background-color: #eee; border: 1px dotted #c1c1c1 }
.timelist .time.forbiden label { cursor: no-drop }
.timelist .time.selected { border: 1px solid #333; background-color: #333; color: #fff }
.timelist .time.selected .icon-selected { display: block }
.timelist .icon-selected { position: absolute; z-index: 2; display: none; width: 10px; height: 10px; top: 0; right: 0; background-image: url(../images/list/icon-select.gif) }
.timelist label { display: block; cursor: pointer }
.timelist .tip { font-size: 12px; color: #c1c1c1 }
.timelist .tip.fr { float: right }
.list-goods { overflow: hidden;}
.goods-item { background-color: #fff; width: 279px; float: left; border: 1px solid #eee ;margin:0 15px 20px 0;}
.goods-item .line { border-top: 1px solid #eee }
.goods-item:hover { border: 1px solid #0da410 }
.goods-item:hover .goods-info { background-color: #0da410 }
.goods-item:hover .goods-des, .goods-item:hover a { color: #fff }
.goods-item:hover .line { border-top-color: #fff }
.goods-item:hover .goods-comment em { color: #fff }
.goods-item:hover .goods-comment span,.goods-item:hover del{ color:#fff;}

.goods-img, .goods-img a { width: 279px; height: 229px }
.goods-img a { display: block }
.goods-img img { width: 100%; height: 100% }
.goods-info { overflow: hidden }
.goods-name { padding: 8px 10px 9px }
.goods-name h4 { height: 26px; line-height: 26px; font-size: 14px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden }
.goods-name a, .goods-name a.link, .goods-name a.visited { color: #666 }
.goods-name a:hover { color: #fff }
.goods-des { line-height: 18px; height: 18px; color: #999; font-size: 14px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden}
.goods-comment { padding: 10px; height: 20px; line-height: 20px }
.goods-comment span { display: inline-block;  *zoom: 1; *display: inline;
vertical-align: middle; height: 20px; line-height: 20px; margin-right: 15px; color:#666;}
.goods-comment em {  }
.goods-comment em, .goods-comment i { display: inline-block;  *display: inline;
 *zoom: 1;
vertical-align: top }
.goods-comment i { width: 20px; height: 20px; margin-right: 10px }
.goods-comment del{ font: normal 12px/20px "Microsoft YaHei"; color:#999;}
.goods-comment span.sales-volume{}
.goods-comment span.price{ color:#f63; font: normal 14px/20px "Microsoft YaHei"; }
.artical-info { height: 50px; line-height: 50px; font-size: 12px; margin: 5px 0; color: #999 }
.artical-info span { font-size: 12px; color: #666; display: inline-block;  *display: inline;
 *zoom: 1;
vertical-align: middle; line-height: 50px; margin: 0 5px }
.goods-item.guidance .goods-name { padding: 4px 10px }
.goods-item.guidance .goods-comment { padding: 5px 0 }
.goods-item.guidance .goods-comment em, .goods-item.guidance .goods-comment i { vertical-align: middle }
.goods-item.guidance .goods-comment i { width: 22px; height: 22px; line-height: 22px; margin-right: 5px; font-size: 22px; color: #ccc }
.goods-item.guidance .artical-info { margin: 5px }
.goods-item.guidance:hover { border: 1px solid #5ecb5d }
.goods-item.guidance:hover .goods-info { background-color: #5ecb5d }
.goods-item.guidance:hover .artical-info, .goods-item.guidance:hover i, .goods-item.guidance:hover span { color: #fff }
.poster-img { display: inline-block;  *display: inline;
 *zoom: 1;
vertical-align: middle; width: 48px; height: 48px; margin-right: 15px; border-radius: 50%; overflow: hidden }
.poster-img img { background-color: #eee; width: 100%; height: 100% }

.food-item-tit{ height:auto; margin-bottom: 0; padding-top: 0;}
.food-list-item .item-btn-box.poa_rt{ top: 6px;}

/*攻略*/
.raiders-banner-box{ height: 400px; padding-bottom: 58px; width: 100%; position:relative; overflow: hidden; border:0; margin-bottom: 0;}
.raiders-banner{ width: 1920px; position:absolute; left: 50%; margin-left: -960px; height:400px; overflow:visible;}
.raiders-banner .bd li{ height:400px;}
.raiders-banner-box img{ height:400px;}
.raiders-banner-box .moduleslider .hd{ text-align:center; bottom: -22px; left:0;}
.raiders-banner-box .moduleslider .hd li{ background: #ccc;}
.raiders-banner-box .moduleslider .hd li.on{ background: #ffa900;}
.raiders-banner .prev,.raiders-banner .next{ display: block; width: 40px; height: 82px; background:url(../images/list/ico-slide.png) no-repeat; position:absolute; z-index:9; top: 50%; margin-top: -41px;}
.raiders-banner .prev{ background-position:0 0; left: 50%; margin-left: -640px;}
.raiders-banner .next{ background-position:-40px 0; right: 50%; margin-right: -640px;}
.raiders-banner .prev:hover{ background-position:0 -82px;}
.raiders-banner .next:hover{ background-position:-40px -82px;}
.slide-card-box{ position:absolute; right: 50%; top: 0; margin-right: -610px; z-index:10; width: 200px; height:100%; padding:0 10px; overflow: hidden;}
.slide-card{ display: block; width: 100%; height: 100%;  -moz-box-shadow:0 0 8px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 8px rgba(0,0,0,0.5); box-shadow:0 0 8px rgba(0,0,0,0.5); background: #fff;  }
.slide-card h3{ text-indent:-99999px; display: block; width: 100px; height: 34px; margin:0 auto; background:url(../images/list/ico-raid-card.png) no-repeat 0 0; margin-bottom: 40px;}
.slide-card-list{ display: block; margin-bottom: 20px; text-align:center;}
.s-c-l-box{ display: inline-block; *zoom:1; *display:inline; text-align:left;}
.slide-card a{ display: block; color:#666666; font: normal 14px/30px "Microsoft YaHei"; margin-bottom: 14px; height:33px; cursor: pointer; }
.slide-card a i{ float: left; width: 24px; height: 33px; line-height: 30px; background:url(../images/list/card-ico.png) no-repeat; margin-right: 6px; color:#fff; font-style:normal; text-align:center;}
.slide-card a i.raid-ico1{ background-position: 0 0;}
.slide-card a i.raid-ico2{ background-position: 0 -47px;}
.slide-card a i.raid-ico3{ background-position: 0 -94px;}
.slide-card a span{ display: inline-block; max-width:150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.slide-card a:hover{ color:#ffa900; }
.slide-card a:hover span{ border-bottom:1px solid #ffa900; } 
.slide-card .raid-qrcode{ border-top:1px solid #efefef; margin:0 5px; text-align:center; padding:10px 0 0; }
.slide-card .raid-qrcode img{ height:110px; width: 110px; margin:0 auto;}
.slide-card .raid-qrcode p{ color:#999999; font: normal 12px/30px "Microsoft YaHei"; overflow: hidden;}

.list-raiders{ width: 915px; margin-left: -25px;}
.item-raiders{ float: left; width: 280px; height:289px; overflow: hidden; margin-left: 25px; border-bottom:1px solid #e1e1e1; margin-bottom: 10px; padding-bottom: 1px;}
.item-raiders:hover{ padding-bottom: 0; border-bottom:2px solid #ffa900; background:#f8f8f8;}
.item-raiders a{ display: block; width: 280px; height: 215px; position:relative; margin-bottom: 8px;}
.item-raiders a img{ width: 100%; height: 100%; position:relative; z-index:2;}
.item-raiders .raid-fine{ position:absolute; left: 0; top: 0; z-index:3; width: 24px; height: 33px; background:url(../images/list/raid-list-fine.png) no-repeat;}
.item-raiders h3{ font: normal 16px/30px "Microsoft YaHei"; padding:0 8px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 2px;}
.item-raiders p{ color:#999999; font: normal 12px/24px "Microsoft YaHei"; height:24px; margin-bottom: 8px; padding:0 8px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.item-raiders p .look{ float: right; padding-left: 22px; background:url(../images/list/ico-love.png) no-repeat left 4px;}



.item-typelist td span.tit { display: inline-block; *zoom:1;
*display:inline;
max-width: 310px; color: #333; }
.item-typelist td span.pay-met { display: inline-block; *zoom:1;
*display:inline;
width: 100px; text-align: center; color: #ffa900; }
.item-typelist td span { font-size: 14px }
.item-typelist td span.price { display: inline-block; *zoom:1;*display:inline;width: 140px; text-align: center; font-size: 16px; margin: 0 10px }
.item-typelist td del { display: inline-block; *zoom:1;
*display:inline; margin:0 5px;
text-align: center; color: #999; font-size: 12px; }

.raid-list-top{ text-align:center; border-bottom:1px solid #ececec;}
.raid-list-top h3{ font: normal 24px/40px "Microsoft YaHei"; margin-bottom: 8px;}
.raid-list-top h4{ color:#999999; font: normal 16px/30px "Microsoft YaHei";}
.raid-list-top p{ font: normal 16px/48px "Microsoft YaHei"; position:relative; bottom: -1px;}
.raid-list-top p a{ color:#333; display: inline-block; vertical-align: top; *zoom:1; *display:inline; cursor: pointer; padding:0 20px; padding-bottom: 2px; margin: 0 13px;}
.raid-list-top p a:hover,.raid-list-top p a.on{ border-bottom: 2px solid #ffa900; padding-bottom: 0;}

.item-btn-box.zyx-i-b-b{ top: 4px;}
.item-btn-box .price{ display: block; font: normal 14px/30px "Microsoft YaHei"; color:#999;}
.item-btn-box .price em{font-style:normal;}
.item-btn-box .price b{ font-size:24px; font-weight:normal; font-style:normal; padding-right: 3px;}

/*娱乐*/ 
.ent-banner-box{ height: 500px; margin-bottom: 36px; width: 100%; position:relative; overflow: hidden; border:0; border-bottom:2px solid #2fbfe4;}
.ent-banner{ width: 1920px; position:absolute; left: 50%; margin-left: -960px; height:500px; overflow:visible;}
.ent-banner .hd { }
.ent-banner .bd li{ height:500px;}
.ent-banner-box img{ height:500px;}
.ent-banner-box .moduleslider .hd{
    text-align: center;
    bottom: 15px;
    left: 0;
}
.net-menu{ position:absolute; left:50%; bottom: 0; height:60px; width: 1200px; margin-left: -600px; z-index:20; background:url(../images/list/ent-menu-bg.jpg) repeat-x; -moz-border-radius:14px 14px 0 0; -webkit-border-radius:14px 14px 0 0; border-radius:14px 14px 0 0;}
.net-menu .ico-lb,.net-menu .ico-rb{ display: block; width: 15px; height: 15px; position:absolute; bottom:0; }
.net-menu .ico-lb{ background:url(../images/list/ico-lb.png) no-repeat; left:-15px;}
.net-menu .ico-rb{ background:url(../images/list/ico-rb.png) no-repeat; right:-15px;}
.net-menu ul{ display: block; font-size:0; text-align:center;}
.net-menu ul li{ display: inline-block; *zoom:1; *display:inline; width: 131px; padding-right: 2px; text-align:center; font: bold 16px/60px "Microsoft YaHei"; background:url(../images/list/ent-menu-bg-line.jpg) no-repeat right center;}
.net-menu ul li.last{ background: none; padding-right: 0;}
.net-menu ul li a{ display: block; width:127px; height: 57px; margin:3px auto 0; color:#fff; -moz-text-shadow: 0 1px 1px #00599d;  -webkit-text-shadow: 0 1px 1px #00599d;  text-shadow: 0 1px 1px #00599d; }
.net-menu ul li:hover a,.net-menu ul li.on a{ background:url(../images/list/ent-menu-hover.jpg) repeat-x left top;-moz-border-radius:8px 8px 0 0; -webkit-border-radius:8px 8px 0 0; border-radius:8px 8px 0 0; }
.item-btn-box.fl{ float: left;}
.item-btn-box .btn2 { display: inline-block;  *display: inline;
 *zoom: 1;
vertical-align: middle; border-width: 0; outline: 0;   height: 30px; line-height: 30px; margin: auto; color: #fff; border-radius: 5px; font-size: 14px; text-align: center; cursor: pointer; -webkit-transition:300ms; transition:300ms;
 width: 80px;  background: #2fbfe4;border:1px solid #2fbfe4;
 }
.item-btn-box .btn2:hover { background-color: #fff; color: #2fbfe4; border:1px solid #2fbfe4; }

/**/
.search-item .item-l{ width: 210px;}
.search-item .item-imgs{ width: 203px; height: 140px;}
.search-item .item-summary{ min-height: 140px;}
.search-item .item-btn-box{ position:absolute; right: 0; bottom: 0;}
.search-item .item-btn-box.poa_lb{ position:absolute; left:0; bottom:0; right:auto; text-align:left; }
.search-item .item-btn-box.poa_lb .price{ display: inline-block; *zoom:1; *display:inline; }
.search-item .item-btn-box .price{  min-width:160px; margin-right: 20px;}
.search-item .item-btn-box .sales-volume{ color:#999; font-size:14px; }
.item-btn-box.fr{ float: right;	}
.search-item .item-tit.h_two{ margin-bottom: 10px;}
.search-item .item-tit.h_two h3{ 
    margin-right: 0;
}




.item-typelist tr.hide{ display:none;}

/*3.9陈尔鸿*/
.item-typelist td span.sht{font-size: 12px;display: inline-block;border: 1px solid #f8a71b;height: 16px;margin-left: 10px;line-height: 16px;}
.item-typelist td span.sht i{float: left;display: block;padding: 0 2px;background: #f8a71b;color:#fff;}
.item-typelist td span.sht em{color:#f8a71b;font-size: 12px;padding: 0 4px;}

.item-summary p.tour-time{height: 26px;overflow: hidden;}
.item-summary p.tour-time:hover{padding: 0 4px;border: 1px solid #ccc;overflow: inherit;height: auto;}



.list-sort .hotel-calendar{position: absolute;right: 85px;top: 50px;z-index: 9;}
.hotel-calendar{display: none;}
.hotel-calendar .calendar-explian .p_ticket{display: none;}

.m-itemlist {
    border-bottom: 1px solid #eee;
    background-color: #fff;
}
.news .items {
    position: relative;
    overflow: hidden;
    padding: 15px 20px;
}
.m-itemlist .item-main {
    position: relative;
    padding: 15px;
}
.news  .item-name {
    font-size: 24px;
    color: #000;
    width: 100%;
    line-height: 30px;
    overflow: hidden;
}
.news .item-name .item-tit {
    color: #222;
    overflow: hidden;
    height: auto;
}
.news .item-tit h3 {
    font-size: 20px;
    font-weight: 400;
    height: 44px;
    line-height: 44px;
}
.news .item-summary {
    overflow: hidden;
}
.news .item-tit p {
    display: block;
    font-size: 14px;
    color: #999;
}
.news  .item-tit p span {
    margin-right: 80px;
}
.news .item-tit p span {
    margin-right: 80px;
}
.news .item-summary p {
    padding: 0;
    line-height: 26px;
    font-size: 14px;
    color: #666;
    overflow: hidden;
}
.news .empblock {
    height: 10px;
}
.news .item-imgs-list {
    width: 820px;
}
.news .item-imgs-list .bd {
    overflow: hidden;
    height: 160px;

}
.news .item-imgs-list .img_li {
    width: 272px;
    height: 160px;
    float: left;
    margin-right: 1px;
    background-color: #eee;
    margin-bottom: 1px;
}
.news .item-imgs-list img {
    width: 100%;
    height: 100%;
}
.m-itemlist {
    border-bottom: 1px solid #eee;
    background-color: #fff;
}
.news{

    border: 1px solid #eee;

}
.list-nodata{
    width: 100%;
    font-size: 16px;
    text-align: center;
    line-height:30px;
}

#getCoupon{
    padding: 0;
}
