body{
	background: #f4f4f4;
}
.member-module{
	width: 1200px;
	margin: 0 auto;
	min-height: 530px;
}
.member-menu{
	float: left;
	width: 174px;
	border-left: 1px solid #e4eaee;
	border-right: 1px solid #e4eaee;
	border-bottom: 1px solid #e4eaee;
}
.member-content{
	margin-left: 190px;
	margin-bottom: 20px;
	overflow: hidden;
}


/*左边菜单*/
.member-menu dt{
	background: #fff;
	height: 40px;
	line-height: 40px;
	position: relative;
	padding-left: 38px;
	font-size: 14px;
	color: #333;
	border-bottom: 1px solid #e4eaee;
	border-top: 1px solid #e4eaee;
	cursor: pointer;
}
.member-menu dt i{
	position: absolute;
	right: 14px;
	top: 17px;
	width: 8px;
	height: 5px;
	background: url(../images/member/san.png) no-repeat;
	transition: all ease 0.5s;
}
.member-menu dt span{
	position: absolute;
	left: -1px;
	top: -1px;
	height: 42px;
	width: 4px;
	background: #0c960f;
	display: none;
}
.member-menu .select dd{
	display: block;
}
.member-menu .select span{
	display: block;
}
.member-menu .slt i{
	transform: rotate(-180deg);
}
.member-menu .slt dt{
	color: #0c960f;
}
.member-menu dd{
	display: none;
}
.member-menu dd a{
	display: block;
	background: #fbfbfb;
	padding-left: 38px;
	height: 40px;
	line-height: 40px;
	color: #333;
}
.member-menu dd.on a{
	color: #0c960f;
}



/*右边内容*/
.member-content .content-title{
	display: block;
	padding-left: 28px;
	line-height: 40px;
	height: 40px;
	border-bottom: 1px solid #eaeaea;
	font-size: 14px;
	color: #333;
}
.member-content .content-title span{
	margin-left: 48px;
	color: #9e9e9e;
	font-size: 12px;
}
.member-content .content-title span em{
	color: #f00;
}
.member-content .info-content{
	background: #fff;
	padding: 38px 0;
}
.info-content .label-item{
	display: block;
	line-height: 40px;
	padding: 0 105px;
	font-size: 14px;
	color: #333;
	overflow: hidden;
}
.info-content .label-item label{
	display: block;
	float: left;
	width: 85px;
	text-align: right;
	margin-right: 20px;
}
.info-content .label-item span{
	display: block;
	margin-left: 85px;
}
.content .cont-btn{
	display: block;
	width: 130px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	color: #fff;
	font-size: 14px;
	
}
.mt60{
	margin-top: 60px;
}
.info-detail{
	padding: 0 38px;
	background: #fff;
	overflow: hidden;
}
.info-detail .dot-title{
	padding: 13px 0;
	color: #333;
	font-size: 14px;
	line-height: 26px;
	margin-top: 25px;
	border-bottom: 1px solid #e4eaee;
}
.info-detail .dot-title i{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 26px;
	height: 26px;
	text-align: center;
	color: #fff;
	background: #ff9600;
	margin-right: 20px;
}
.info-detail .m{
	padding: 0 28px;
}
.label-set{
	margin-top: 25px;
	color: #333;
	position: relative;
}
.label-set label{
	width: 90px;
	display: block;
	float: left;
	line-height: 42px;
}
.label-set label .current{
	color: #f00;
	margin-right: 8px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 4px;
}
.label-set .input-box{
	display: block;
	margin-left: 90px;
	position: relative;
}
.label-set input,.label-set .card-type{
	height: 40px;
	border: 1px solid #eaeaea;
	padding-left: 8px;
}
.label-set input.big-input{
	width: 228px;
}
.label-set input.sex-input{
	width: 80px;
}


.info-detail .card-box{
	padding: 0 26px 35px;
}
.info-detail .label-set .card-type{
	outline: none;
	width: 150px;
}
.info-detail .card-box .label-set{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-right: 20px;
}
.info-detail .address select{
	width: 150px;
	padding: 0 8px;
	height: 40px;
	border: 1px solid #eaeaea;
	margin-right: 24px;
}
.info-detail .address input{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-left: 0;
	width: 260px;
}
.info-detail-btn{
	padding: 38px 0 46px;
	border-top: 1px solid #e4eaee;
}
.info-detail-btn a{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 94px;
	height: 33px;
	line-height: 33px;
	margin: 0 23px 0 6px;
	border: 1px solid #eaeaea;
	line-height: 33px;
	text-align: center;
	color: #333;
}
.info-detail-btn a.save-btn{
	border: 1px solid #ff9600;
	background: #ff9600;
	color: #fff;
	cursor: pointer;
}
.tips{
	position: absolute;
	top: 0;
	line-height: 42px;
	left: 288px;
	padding-left: 20px;
	width: auto!important;
	height: 42px;
}
.tips.error{
	color: #f00;
	background: url(../images/common/tips.png) no-repeat 0 13px;
}
.tips.success{
	width: 20px!important;
	background: url(../images/common/tips.png) no-repeat 0 -50px;
}





.order-tips{
	height: 54px;
	padding-left: 46px;
	line-height: 54px;
	color: #333;
	font-size: 14px;
	background-image: url(../images/common/blue-tips.png);
	background-repeat: no-repeat;
	background-position: 13px center;
}
.order-search{
	height: 55px;
	line-height: 55px;
}
.order-search .label-set{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-top: 0;
}
.order-search .label-set label{
	width: 70px;
	line-height: 55px;
	text-align: right;
}
.order-search .label-set input{
	height: 30px;

}
.order-search .label-set select{
	width: 128px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #eaeaea;
	outline: none;
}
.order-search .search-btn{
	width: 78px;
	height: 30px;
	border: 1px solid #eaeaea;
	padding: 0;
	background: #fff;
	margin-left: 25px;
	cursor: pointer;
}




.order-list{}
.order-list-item{
	padding: 0 26px 43px;
	border-bottom: 1px solid #eaeaea;
}
.order-list-item .list-top{
	color: #333;font-size: 12px;
	line-height: 40px;
	overflow: hidden;
}
.order-list-item .list-top span{
	margin-right: 74px;
}
.list-module{
	margin-top: 18px;
	overflow: hidden;
}
.list-module .img-box{
	width: 155px;
	height: 133px;
	background: #e1dddd;
	float: left;
}
.list-module .img-box img{
	width: 155px;
	height: 133px;
}
.list-module-info{
	margin:0px 267px 0 180px;
}
.list-module-info h4 a{
	display: block;
	font-size: 16px;
	margin: 8px 0;
	line-height: 24px;
	height: 48px;
	overflow: hidden;
	font-weight: 600;
}
.list-module-info ul{
	display: block;
}
.list-module-info li{
	width: 50%;
	float: left;
	margin-top: 18px;
}
.list-module-btn{
	float: right;
	margin-top: 42px;
}
.list-module-btn .price{
	color: #ff6000;
	font-size: 28px;
	text-align: right;
}
.list-module-btn .price em{
	font-size: 24px;
	margin-right: 12px;
}
.list-module-btn .member-btn{
	height: 42px;
	width: 100px;
	line-height: 42px;
	text-align: center;
	color: #333;
	font-size: 14px;
	border: 1px solid #eaeaea;
	margin-left: 10px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}





.member-content-left{
	float: left;
	width: 698px;
}
.member-content-right{
	margin-left: 709px;
	padding: 12px 29px 30px;
}
.assess-box{
	padding: 28px 38px;
	background: #fff;
}
.assess-box .img-box{
	position: relative;
	float: left;
	width: 131px;
	height: 80px;
}
.assess-box .img-box img{
	width: 131px;
	height: 80px;
}
.assess-box .img-box .img-tips{
	width: 100%;
	text-align: center;
	background: #519ffd;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 20px;
	line-height: 20px;
	color: #fff;
}
.assess-box .assess-info{
	margin-left: 140px;
	height: 80px;
}
.assess-box .assess-info h4{
	font-size: 18px;
}
.assess-box .assess-info p{
	color: #666;
	margin-top: 12px;
}
.assess-box .assess-info label{
	color: #999;
}
.assess-box .title{
	font-size: 16px;
}

.assess-box textarea.txt{
	border: 1px solid #e2e2e2;
	padding: 8px 18px;
	width: 570px;
	margin: 20px 0;
	height: 285px;
	outline: none;
	resize: none;
	font-family: Arial,"Microsoft YaHei";
}
.assess-box .ischeck input{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	cursor: pointer;
}
.assess-box .assess-btn{
	width: 146px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background: #ff5b45;
	border-radius: 4px;
	margin-top: 22px;
	cursor: pointer;
}

.assess-right .title{
	font-size: 16px;
	padding: 16px 0;
	border-bottom: 2px solid #519ffd;
}
.assess-right .aeesee-list li{
	padding: 14px 8px 8px;
	border-bottom: 1px solid #e2e2e2;
}
.assess-right .aeesee-list .name{
	color: #666;
	line-height: 24px;
}
.assess-right .aeesee-list .name span{
	margin-right: 20px;
	color: #333;
}
.assess-right .aeesee-list .txt{
	color: #999;
	line-height: 20px;
	height:120px;overflow: hidden;
}
.assess-right .aeesee-list .time{
	color: #999;
	margin-top: 15px;
	display: block;
}





.member-detail{
	padding: 20px 38px;
}
.member-detail .title{
	color: #333;
	font-size: 16px;
	padding-left: 25px;
	line-height: 44px;
	background: url(../images/member/m-t.png) no-repeat 0 center;
}
.member-detail-top{
	overflow: hidden;
}
.member-detail-top .top-left{
	width: 734px;
	float: left;
}
.member-detail-top .label-box{
	margin-top: 12px;
}
.member-detail-top .price{
	margin-right: 60px;
	color: #999;
	font-size: 12px;
	margin-top: -24px;
}
.member-detail-top .price em{
	color: #f55;
	font-size: 36px;
	margin-left: 20px;
}
.member-detail-top .price em i{
	font-size: 20px;
}
.label-box{
	/*overflow: hidden;*/
}
.label-box label{
	display: block;
	width: 76px;
	color: #999;
	float: left;
}
.label-box .txt{
	margin-left: 76px;
	color: #666;
}
.label-box .txt.type span{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 18px;
	line-height: 18px;
	padding: 0 8px;
	color: #fff;
	margin-right: 7px;
	border-radius: 3px;
}
.member-detail-top .top-right{
	float: right;
	border-left: 1px dashed #f0f0f0;
	padding: 0 22px 0 74px;
	width: 101px;
	height: 113px;
	text-align: center;

}
.member-detail-top .top-right .btn{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 101px;
	height: 41px;
	color: #fff;
	font-size: 14px;
	color: #fff;
	border: 1px solid #eaeaea;
	text-align: center;
	line-height: 41px;
}
.member-detail-name{
	margin-top: 10px;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 14px;
}
.member-detail-name h4{
	color: #16b2f3;
	font-size: 18px;
	line-height: 30px;
}
.member-detail-name .address{
	font-size: 12px;
	color: #666;
	line-height: 24px;
	padding-left: 17px;
	background: url(../images/member/address.png) no-repeat 0 center;
	margin-top: 8px
}
.member-detail-info{
	padding: 14px 0 5px;
}
.member-detail-info li{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-right: 100px;
	line-height: 30px;
	position: relative;
}

.buy-list .item{
	overflow: hidden;
	border-top: 1px dashed #f0f0f0;
	padding: 8px 0 14px;
}
.buy-list p{
	line-height: 30px;
}
.buy-list .label-box{
	width: 33%;
	float: left;
}

.back-table{
	width: 100%;
	border-collapse:separate;
	border-spacing: 4px;
}
.back-table th{
	background: #f4f4f4;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #666;
	width: 33%;
}
.back-table td{
	height: 50px;
	text-align: center;
	border-bottom: 1px dashed #f0f0f0;
}

i.calendar-btn{
	background: url(../images/common/ico-calendar.png);
	width: 15px;
	height: 15px;
	cursor: pointer;
}




.hotel-calendar{
	position: absolute;
	right: -338px;
	top: -394px;
	z-index: 9;
	display: none;
}
.calendar-contnet table td .date-title{
	background-color:#ff6666;color:#fff
}
.calendar-contnet table td.other .date-title{
	background-color:#fff;color:#c5c5c5
}







/*密码强度*/
.pw-strength {clear: both;position: relative;top: 8px;width: 180px;}
.pw-bar{background: url(../images/member/pwd-1.png) no-repeat;height: 10px;overflow: hidden;width: 238px;}
.pw-bar-on{background:  url(../images/member/pwd-2.png) no-repeat; width:0px; height:14px;position: absolute;top: 0;left: 0;transition: width .5s ease-in;-moz-transition: width .5s ease-in;-webkit-transition: width .5s ease-in;-o-transition: width .5s ease-in;}
.pw-weak .pw-defule{ width:0px;}
.pw-weak .pw-bar-on {width: 70px;}
.pw-medium .pw-bar-on {width: 152px;}
.pw-strong .pw-bar-on {width: 238px;}
.pw-txt {padding-top: 2px;width: 254px;overflow: hidden;}
.pw-txt span {color: #707070;float: left;font-size: 12px;text-align: center;width: 70px; margin-right: 14px;}



/*退款*/
.refund-box .ref-tit { font: normal 20px/40px "Microsoft YaHei"; text-align: center; }
.refund-box .refund-text { font: normal 12px/24px "Simsun"; color: #666; margin-bottom: 20px; word-break: break-all; }
.refund-box .refund-info { font: normal 14px/30px "Microsoft YaHei"; }
.refund-box .refund-info p { margin-bottom: 5px; }
.refund-box .refund-info strong { }
.refund-box .refund-info span { font-weight: bold; color: #f45a40; }
.refund-box .refund-info textarea { display: block; width: 450px; height: 110px; border: 1px solid #ccc; font: normal 14px/20px "Microsoft YaHei"; }
.refund-box .refund-info .ref-btn { margin: 20px 0; display: block; height: 40px; padding: 0 20px; background: #f45a40; border: 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; cursor: pointer; color: #fff; }
.refund-box .refund-info .ref-btn:hover, .refund-info .ref-btn:hover { background: #ff6633; }





.c-f60{color: #ff6000;}
.pd115{padding: 50px 115px;}
.mb7{margin-bottom: 7px;}
.mt20{margin-top: 20px;}


/* 错误提示 */
label.error {
	position: absolute;
	top: 0;
	line-height: 42px;
	left: 288px;
	padding-left: 20px;
	width: auto!important;
	height: 42px;
}

#InfoModify label.error{
	position: absolute;
	width:200px!important;
	color: red;
}
.no-show{text-align: center;color:#999;margin-top: 20px;}
.refund-err-box,.assess-err-box{  position: relative;}
.refund-err-box label.error{left: 470px;color:red;}
.assess-err-box label.error{left: 508px;color:red;top:280px;}

.member-menu dt a{
	display: block;
}
.member-menu dt.on a{
	color: #0c960f;
}

.pagecen{margin: 0 auto;text-align: center;}


.coupon-main .hd{
	overflow: hidden;
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 30px;
	padding: 0 20px;
}
.coupon-main .hd a{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 10px 20px;
	color: #333;
	font-size: 14px;
	margin-right: 30px;
}
.coupon-main .hd a.on{
	color: #0c960f;
	border-bottom: 3px solid #0c960f;
}
.cp-gqbg{
	position: absolute;
	right:0;
	top:0;
	background: url("../images/member/hb_overtime.png") no-repeat;
	width: 83px;
	height: 80px;
}
.cp-ysybg{
	position: absolute;
	right:0;
	top:0;
	background: url("../images/member/hb_used.png") no-repeat;
	width: 83px;
	height: 80px;
}
.member-coupons #yes li{
	height: 160px !important;
}
.member-coupons #no li{
	background: url("../images/member/coupon-bg2.png") no-repeat !important;
	height: 160px !important;
}