extends ../layout
block stylesheets
  link(rel="stylesheet", href="/stylesheets/jquery.page.css")
  link(rel="stylesheet", href="/stylesheets/member.css")
block javascripts
  script(type='text/javascript', src='/javascripts/jquery.SuperSlide.2.1.1.js')
  script(type='text/javascript', src='/javascripts/laypage/laypage.js')
  script(type='text/javascript', src='/javascripts/coupon/memCoupon.js')
block content
  include ../common/header
  include ../common/index
  include common/leftNav
  +header(1)
  +place('','优惠券')
  .member-module
    +leftNav(module)
    .member-content.be

      .content-title 优惠券
      .coupon-main.member-coupons
        .hd
          a(href="javascript:;") 可用券
          a(href="javascript:;") 失效券
        .bd
          .item
            ul#yes
            #page
          .item
            ul#no
            #page1.pagecen
  include ../common/footer