.footer.login-fixed
  .innerW
    div
      //p.links
      //  a(href='') 关于我们
      //  | |
      //  a(href='') 隐私条款
      //  | |
      //  a(href='') 网站地图
      //  | |
      //  a(href='') 入住流程
      p.ContactInfos
        span 服务地址：黄山市
        | |
        span 公众号：黄山
        | |
        span 预订方式：微信 pc
        | |
        span 联系客服：400-8899-808
    .websiteInfo Copyright © 2017-2018黄山旅游发展股份有限公司  皖ICP备13003523号-1     技术支持：浙江深大
// 联系方式
.contactUs
  .kf
    a(href='http://wpa.qq.com/msgrd?v=3&uin=34847322&site=qq&menu=yes',target='_blank')
      i.icon.icon-kf
      em 在线客服中心
  .qrcode
    i.icon.icon-qrcode
    span.qrcodeBox
      img(src='../images/index/qrcode.jpg', alt='')
      em 黄山旅游
      i.arrToRight
  //.cart
  //  a(href='')
  //    i.icon.icon-cartBig
  #toTop.top
    i.icon.icon-top

//.footer-box
//  footer.clearfix
//    a(href='/list/order')
//      i.font-icon.icon-nav-order
//      p 我的订单
//    a(href='/cart')
//      i.font-icon.icon-cat
//      p 购物车
//    a(href='/')
//      .homeIco
//        img(src="/images/index/homeIco.png", alt="")
//    a(href='/member')
//      i.font-icon.icon-iconfont-geren
//      p 个人中心
//    a(href='tel:1111111')
//      i.font-icon.icon-nav-onlinekf
//      p 在线客服
//.new-page-line
//.footer
//  .footer-fixed
//    a.on(href='/')
//      i.indexicon.icon-home
//      span 首页
//    a(href='/list/order')
//      i.indexicon.icon-dindan
//      span 我的订单
//    a(href='tel:1111111')
//      i.indexicon.icon-kefu
//      span 在线客服
//    a(href='/member')
//      i.indexicon.icon-me
//      span 个人中心
// 底部