extends ../layout

block stylesheets
    link(rel="stylesheet", href="/stylesheets/list.css")
    link(rel="stylesheet", href="/stylesheets/detail.css")
block content
    include ../common/index
    include ../common/header
    +header(1)
    +place(module,'detail')
    .list-wrap
        .list-container.mb20
            .list-main-bd
                .list-main.type0.news-content
                    .detail-main
                        .detail_tit=data[1].data.title
                        .detail_show
                            span 创建时间：#{data[1].data.createTime}
                            span 浏览量：#{data[1].data.viewNum}
                        .detail_content!=data[1].data.content
            +rightInfo(data[0].data)
    include ../common/footer