extends ../layout

block stylesheets
    link(rel="stylesheet", href="/stylesheets/jquery.page.css")
    if module==='hotel'
        link(rel="stylesheet", href="/stylesheets/calendar.hotel.two.css")
    link(rel="stylesheet", href="/stylesheets/list.css")
block javascripts
    script(type='text/javascript', src='/javascripts/laypage/laypage.js')
    if module==='hotel'
        script(type='text/javascript', src='/javascripts/jquery.calendar.js')
    script(type='text/javascript', src='/javascripts/list.js')

block content
    include ../common/header
    include ../common/index
    include ./list
    +header(1)
    +place(module,'list')
    .list-wrap
        if module!=='strategy'
            +search(data[0],data[1],module)
        .list-container.mb20
            .list-main-bd
                .list-main.type0
                    if module ==='shop'
                        .list-goods
                            .html-box(data-module=module)
                    else
                        .html-box(data-module=module)
                    #page
            if module==='strategy'
                +rightInfo(data[0].data)
            else
                +rightInfo(data[2].data)
    include ../common/footer


